<!DOCTYPE html>
<html lang="zh">

<head>
    <title></title>

    <!-- 页面字符编码 -->
    <meta charset="utf-8">

    <!-- 避免IE使用兼容模式 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!-- 启用360浏览器的极速模式(webkit) -->
    <meta name="renderer" content="webkit">
    <!-- 微软的老式浏览器 -->
    <meta name="MobileOptimized" content="320">

    <!-- 关键字描述 -->
    <meta name="keywords" content="">
    <meta name="description" content="">

    <!-- 设置移动端视图 -->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <!-- 针对手持设备优化，主要是针对一些老的不识别viewport的浏览器，比如黑莓 -->
    <meta name="HandheldFriendly" content="true">

    <!-- 删除苹果默认的工具栏和菜单栏 -->
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <!-- 设置苹果工具栏颜色 -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />

    <!-- 忽略页面中的数字识别为电话，忽略email识别 -->
    <meta name="format-detection" content="telphone=no, email=no" />

    <!-- uc强制竖屏 -->
    <meta name="screen-orientation" content="portrait">
    <!-- QQ强制竖屏 -->
    <meta name="x5-orientation" content="portrait">
    <!-- UC强制全屏 -->
    <meta name="full-screen" content="yes">
    <!-- QQ强制全屏 -->
    <meta name="x5-fullscreen" content="true">
    <!-- UC应用模式 -->
    <meta name="browsermode" content="application">
    <!-- QQ应用模式 -->
    <meta name="x5-page-mode" content="app">
    <link rel="stylesheet" href="/airport/assets/vender/iView/styles/iView.min.css">
    <link rel="stylesheet" type="text/css" href="/airport/www/css/common.min.css" />
</head>

<body class="innerPage">
    <div id="js-vue" class="tableContainer">
        <div class="top">
            <Row type="flex" justify="start" gutter="10">
                <i-col span="18">
                    <div class="searchWrap">
                        <table>
                            <tbody>
                                <tr>
                                    <td>
                                        <template>
                                            {{{'CN':'选择车辆','EN':'Vehicle','TW':'選擇車輛'}[language]}}:
                                            <i-select v-model="pageInfo.vehicleId" clearable :placeholder="{'CN':'请选择','EN':'Please Choose','TW':'請選擇'}[language]" style="width:90px;">
                                                <i-option value="0" v-text="{'CN':'全部','EN':'All','TW':'全部'}[language]"></i-option>
                                                <i-option v-for="item in vehicleList" :value="item.id">{{item.vehicleName}}</i-option>
                                            </i-select>
                                        </template>
                                        <template>
                                            &nbsp;{{{'CN':'车辆类型','EN':'Vehicle Type','TW':'車輛類型'}[language]}}:
                                            <i-select v-model="pageInfo.vehicleTypeId" clearable :placeholder="{'CN':'请选择','EN':'Please Choose','TW':'請選擇'}[language]" style="width:90px;">
                                                <i-option value="0" v-text="{'CN':'全部','EN':'All','TW':'全部'}[language]"></i-option>
                                                <i-option v-for="item in vehicleTypeList" :value="item.type">{{item.name}}</i-option>
                                            </i-select>
                                        </template>
                                        <template>
                                            &nbsp;{{{'CN':'车辆颜色','EN':'Vehicle Color','TW':'車輛颜色'}[language]}}:
                                            <i-select v-model="pageInfo.vehicleColorId" clearable :placeholder="{'CN':'请选择','EN':'Please Choose','TW':'請選擇'}[language]" style="width:90px;">
                                                <i-option value="0" v-text="{'CN':'全部','EN':'All','TW':'全部'}[language]"></i-option>
                                                <i-option v-for="item in vehicleColorList" :value="item.type">{{item.name}}</i-option>
                                            </i-select>
                                        </template>
                                        <template>
                                            &nbsp;{{{'CN':'车辆品牌','EN':'Vehicle Bland','TW':'車輛品牌'}[language]}}:
                                            <i-select v-model="pageInfo.vehicleBrandId" clearable :placeholder="{'CN':'请选择','EN':'Please Choose','TW':'請選擇'}[language]" style="width:90px;">
                                                <i-option value="0" v-text="{'CN':'全部','EN':'All','TW':'全部'}[language]"></i-option>
                                                <i-option v-for="item in vehicleBrandList" :value="item.type">{{item.name}}</i-option>
                                            </i-select>
                                        </template>
                                        <template>
                                            &nbsp;{{{'CN':'开始时间','EN':'Start Time','TW':'開始時間'}[language]}}:
                                            <date-picker @on-change="beginRepairTime" type="date" confirm  :placeholder="{'CN':'请选择','EN':'Choose','TW':'請選擇'}[language]" style="width:105px;"></date-picker>
                                            -
                                            <date-picker @on-change="endRepairTime" type="date" confirm  :placeholder="{'CN':'请选择','EN':'Choose','TW':'請選擇'}[language]" style="width:105px;"></date-picker>
                                        </template>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-top: 5px;">
                                        <template>
                                            &nbsp;{{{'CN':'保养里程','EN':'mileage','TW':'保養里程'}[language]}}:
                                            <Input-number v-model="pageInfo.beginMiles" style="width: 80px" :placeholder="{'CN':'请输入','EN':'Input','TW':'請輸入'}[language]"></Input-number>
                                            -
                                            <Input-number v-model="pageInfo.endMiles" style="width: 80px" :placeholder="{'CN':'请输入','EN':'Input','TW':'請輸入'}[language]"></Input-number>
                                        </template>

                                        <template>
                                            <i-button @click="getmaintenanceList(true)" size="small" type="primary" icon="ios-search-outline">{{{'CN':'查询','EN':'Search','TW':'查詢'}[language]}}</i-button>
                                        </template>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </i-col>
                <i-col span="6">
                    <div class="actionWrap">
                        <template>
                            <i-buttonGroup>
                                <i-button @click="refresh" size="small" icon="ios-refresh">{{{'CN':'刷新','EN':'Refresh','TW':'刷新'}[language]}}</i-button>
                                <i-button @click="addItem" size="small" type="success" icon="ios-add-circle-outline">{{{'CN':'新增','EN':'Add','TW':'新增'}[language]}}</i-button>
                                <!-- <i-button @click="editItem" size="small" type="warning" icon="ios-paper-outline">{{{'CN':'编辑','EN':'Edit','TW':'編輯'}[language]}}</i-button>
                                <i-button @click="delItem" size="small" type="error" icon="ios-trash-outline">{{{'CN':'删除','EN':'Delete','TW':'刪除'}[language]}}</i-button> -->
                            </i-buttonGroup>
                        </template>
                    </div>
                </i-col>
            </Row>
        </div>

        <div class="tableWrap">
            <template>
                <i-table :height="tableHeight-50" :loading="isTableLoading" highlight-row :columns="columnsList" :data="dataList" stripe="true"
                    size="small" @on-row-click="setCurrentRowData"></i-table>
            </template>
        </div>

        <div class="pageWrap">
            <template>
                <Page :total="pageInfo.count" @on-change="pageSizeChange" @on-page-size-change="pageRowChange" :page-size="20" show-sizer show-total />
            </template>
        </div>

        <template>
            <Modal v-model="isShowModal" :styles="{top: '60px'}" width="30" :title="modalTitle" :ok-text="{'CN':'确定','EN':'Confirm','TW':'確定'}[language]"
                :cancel-text="{'CN':'取消','EN':'Cancel','TW':'取消'}[language]" :loading="isModalLoading" @on-ok="uploadDataToServer">
                <div class="modifiedWrap">
                    <table>
                        <tbody>
                            <tr>
                                <td class="label" style="width: 90px;">
                                    <span class="request">＊</span>
                                    <span v-text="{'CN':'车辆','EN':'Vehicle','TW':'車輛'}[language]"></span>
                                </td>
                                <td>
                                    <template>
                                        <i-select v-model="itemInfo.vehicleId" clearable :placeholder="{'CN':'请选择','EN':'Please Choose','TW':'請選擇'}[language]">
                                            <i-option v-for="item in vehicleList" :value="item.id">{{item.vehicleName}}</i-option>
                                        </i-select>
                                    </template>
                                </td>
                            </tr>
                            <tr>
                                <td class="label">
                                    <span class="request">＊</span>
                                    <span v-text="{'CN':'本次保养日期','EN':'This Maintenance Date','TW':'本次保養日期'}[language]"></span>
                                </td>
                                <td>
                                    <date-picker @on-change="currMaintainTime" v-model="itemInfo.currMaintainTime" type="date" confirm :placeholder="{'CN':'请选择','EN':'Please Choose','TW':'請選擇'}[language]"></date-picker>
                                </td>
                            </tr>
                            <tr>
                                <td class="label">
                                    <span class="request">＊</span>
                                    <span v-text="{'CN':'保养单位','EN':'Maintenance Company','TW':'保養單位'}[language]"></span>
                                </td>
                                <td>
                                    <Row type="flex" justify="start" gutter="5">
                                        <i-col span="11">
                                            <template>
                                                <i-select v-model="itemInfo.lastMaintainDeptId" clearable :placeholder="{'CN':'请选择','EN':'Please Choose','TW':'請選擇'}[language]">
                                                    <i-option value="" v-text="{'CN':'选择','EN':'Select','TW':'選擇'}[language]"></i-option>
                                                    <i-option v-for="item in departmentList" :value="item.id">{{item.deptName}}</i-option>
                                                </i-select>
                                            </template>
                                        </i-col>
                                        <i-col span="2">或</i-col>
                                        <i-col span="11">
                                            <i-input v-model="itemInfo.lastMaintainDeptName" />
                                        </i-col>
                                    </Row>
                                </td>
                            </tr>
                            <tr>
                                <td class="label">
                                    <span class="request">＊</span>
                                    <span v-text="{'CN':'保养责任人','EN':'Maintenance Responsible Person','TW':'保養責任人'}[language]"></span>
                                </td>
                                <td>
                                    <Row type="flex" justify="start" gutter="5">
                                        <i-col span="11">
                                            <template>
                                                <i-select v-model="itemInfo.lastMaintainUserId" clearable :placeholder="{'CN':'请选择','EN':'Please Choose','TW':'請選擇'}[language]">
                                                    <i-option value="" v-text="{'CN':'选择','EN':'Select','TW':'選擇'}[language]"></i-option>
                                                    <i-option v-for="item in userList" :value="item.id">{{item.userName}}</i-option>
                                                </i-select>
                                            </template>
                                        </i-col>
                                        <i-col span="2">或</i-col>
                                        <i-col span="11">
                                            <i-input v-model="itemInfo.lastMaintainUserName" />
                                        </i-col>
                                    </Row>
                                </td>
                            </tr>
                            <tr>
                                <td class="label">
                                    <span class="request">＊</span>
                                    <span v-text="{'CN':'当前里程数','EN':'Current Mileage','TW':'當前里程數'}[language]"></span>
                                </td>
                                <td>
                                    <!-- <i-input v-model="itemInfo.currMiles" /> -->
                                    <Input-number
                                        v-model="itemInfo.currMiles"
                                        style="width: 100%">
                                    </Input-number>
                                </td>
                            </tr>
                            <tr>
                                
                                <td class="label">
                                    <span v-text="{'CN':'下次保养里程数','EN':'Number Of Miles Next Maintained','TW':'下次保養里程數'}[language]"></span>
                                </td>
                                <td>
                                    <!-- <i-input v-model="itemInfo.nextMaintainMiles" /> -->
                                    <Input-number
                                        v-model="itemInfo.nextMaintainMiles"
                                        style="width: 100%">
                                    </Input-number>
                                </td>
                            </tr>
                            <tr>
                                <td class="label">
                                    <span class="request">＊</span>
                                    <span v-text="{'CN':'保养项目','EN':'Maintenance Projects','TW':'保養項目'}[language]"></span>
                                </td>
                                <td>
                                    <template>
                                        <i-select v-model="itemInfo.repairItemIds" multiple clearable :placeholder="{'CN':'请选择','EN':'Please Choose','TW':'請選擇'}[language]">
                                            <i-option v-for="item in vehicleRepairTypeList" :value="item.type">{{item.name}}</i-option>
                                        </i-select>
                                    </template>
                                </td>
                            </tr>
                            <tr>
                                <td class="label">
                                    <span class="request">＊</span>
                                    <span v-text="{'CN':'备注','EN':'Remark','TW':'備註'}[language]"></span>
                                </td>
                                <td>
                                    <i-input v-model="itemInfo.maintainRemark" :row="4" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </Modal>
        </template>

        <template>
            <Modal v-model="isShowDetail" :footer-hide="true" :styles="{top: '60px'}" width="25" title="查看详情">
                <div class="modifiedWrap">
                    <table>
                        <tbody>
                            <tr class="detailInfo">
                                <td class="detailLabel" style="width: 120px;"><span v-text="{'CN':'车辆：','EN':'Vehicle：','TW':'車輛：'}[language]"></span></td>
                                <td><span v-text="itemInfo.vehicleName"></span></td>
                            </tr>
                            <tr class="detailInfo">
                                <td class="detailLabel"><span v-text="{'CN':'本次保养日期：','EN':'This Maintenance Date：','TW':'本次保養日期：'}[language]"></span></td>
                                <td><span v-text="itemInfo.currMaintainTimeName"></span></td>
                            </tr>
                            <tr class="detailInfo">
                                <td class="detailLabel"><span v-text="{'CN':'保养单位：','EN':'Maintenance Company：','TW':'保養單位：'}[language]"></span></td>
                                <td><span v-text="itemInfo.lastMaintainDeptName"></span></td>
                            </tr>
                            <tr class="detailInfo">
                                <td class="detailLabel"><span v-text="{'CN':'保养责任人：','EN':'Maintenance Responsible Person：','TW':'保養責任人：'}[language]"></span></td>
                                <td><span v-text="itemInfo.lastMaintainUserName"></span></td>
                            </tr>
                            <tr class="detailInfo">
                                <td class="detailLabel"><span v-text="{'CN':'当前里程数：','EN':'Current Mileage：','TW':'當前里程數：'}[language]"></span></td>
                                <td><span v-text="itemInfo.currMiles+'(km)'"></span></td>
                            </tr>
                            <tr class="detailInfo">
                                <td class="detailLabel"><span v-text="{'CN':'下次保养里程数：','EN':'Number Of Miles Next Maintained：','TW':'下次保養里程數：'}[language]"></span></td>
                                <td><span v-text="itemInfo.nextMaintainMiles+'(km)'"></span></td>
                            </tr>
                            <tr class="detailInfo">
                                <td class="detailLabel"><span v-text="{'CN':'保养项目：','EN':'Maintenance Projects：','TW':'保養項目：'}[language]"></span></td>
                                <td><span v-text="itemInfo.repairItemIdName"></span></td>
                            </tr>
                            <tr class="detailInfo">
                                <td class="detailLabel"><span class="detailLabel" v-text="{'CN':'备注：','EN':'Remarks：','TW':'備註：'}[language]"></span></td>
                                <td><span v-text="itemInfo.maintainRemark"></span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </Modal>
        </template>

    </div>
    <script src="/airport/assets/js/LAB.min.js"></script>
    <script>
        loadScript(MODUL+"module/vehicleMaintenance/vehicleMaintenance.min.js");
    </script>
</body>

</html>