<!DOCTYPE html>
<html lang="zh">

<head>
    <title></title>

    <!-- 页面字符编码 -->
    <meta charset="utf-8">

    <!-- 避免IE使用兼容模式 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!-- 启用360浏览器的极速模式(webkit) -->
    <meta name="renderer" content="webkit">
    <!-- 微软的老式浏览器 -->
    <meta name="MobileOptimized" content="320">

    <!-- 关键字描述 -->
    <meta name="keywords" content="">
    <meta name="description" content="">

    <!-- 设置移动端视图 -->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <!-- 针对手持设备优化，主要是针对一些老的不识别viewport的浏览器，比如黑莓 -->
    <meta name="HandheldFriendly" content="true">

    <!-- 删除苹果默认的工具栏和菜单栏 -->
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <!-- 设置苹果工具栏颜色 -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />

    <!-- 忽略页面中的数字识别为电话，忽略email识别 -->
    <meta name="format-detection" content="telphone=no, email=no" />

    <!-- uc强制竖屏 -->
    <meta name="screen-orientation" content="portrait">
    <!-- QQ强制竖屏 -->
    <meta name="x5-orientation" content="portrait">
    <!-- UC强制全屏 -->
    <meta name="full-screen" content="yes">
    <!-- QQ强制全屏 -->
    <meta name="x5-fullscreen" content="true">
    <!-- UC应用模式 -->
    <meta name="browsermode" content="application">
    <!-- QQ应用模式 -->
    <meta name="x5-page-mode" content="app">
    <link rel="stylesheet" href="/airport/assets/vender/iView/styles/iView.min.css">
    <link rel="stylesheet" type="text/css" href="/airport/www/css/common.min.css?v=341723741983" />
</head>

<body class="innerPage">
    <div id="js-vue" class="tableContainer">
        <div class="top">
            <Row type="flex" justify="start" gutter="10">
                <i-col span="21">
                    <div class="searchWrap">
                        <table>
                            <tbody>
                                <tr>
                                    <td>
                                        <template>
                                            &nbsp;&nbsp;{{{'CN':'公司','EN':'Company','TW':'公司'}[language]}}:
                                            <i-select @on-change="getDepartmentList('pageInfo')" v-model="pageInfo.companyId" clearable :placeholder="{'CN':'请选择','EN':'Please Choose','TW':'請選擇'}[language]" style="width:140px;">
                                                <i-option value="0">{{{'CN':'全部','EN':'All','TW':'全部'}[language]}}</i-option>
                                                <i-option v-for="item in companyList" :value="item.id">{{item.companyName}}</i-option>
                                            </i-select>
                                        </template>
                                        <template>
                                            &nbsp;&nbsp;{{{'CN':'部门','EN':'Superior Department','TW':'部門'}[language]}}:
                                            <template>
                                                <Cascader :data="departmentList" v-model="pageInfo.deptId" style="width:140px; display: inline-block;" trigger="hover" change-on-select></Cascader>
                                            </template>
                                        </template>
                                        <template>
                                            &nbsp;&nbsp;运动状态:
                                            <i-select v-model="pageInfo.vehicleStatus" clearable :placeholder="{'CN':'请选择','EN':'Please Choose','TW':'請選擇'}[language]" style="width:100px;">
                                                <i-option value=""></i-option>
                                                <i-option v-for="item in vehicleStatuList" :value="item.type">{{item.name}}</i-option>
                                            </i-select>
                                        </template>
                                        <template>
                                            &nbsp;&nbsp;使用状态:
                                            <i-select v-model="pageInfo.useStatus" clearable :placeholder="{'CN':'请选择','EN':'Please Choose','TW':'請選擇'}[language]" style="width:100px;">
                                                <i-option value=""></i-option>
                                                <i-option v-for="item in vehicleUseStatusList" :value="item.type">{{item.name}}</i-option>
                                            </i-select>
                                        </template>
                                        <template>
                                            &nbsp;&nbsp;{{{'CN':'车辆类型','EN':'Vehicle Type','TW':'車輛類型'}[language]}}:
                                            <i-select v-model="pageInfo.vehicleTypeId" clearable :placeholder="{'CN':'请选择','EN':'Please Choose','TW':'請選擇'}[language]" style="width:80px;">
                                                <i-option value="0">{{{'CN':'全部','EN':'All','TW':'全部'}[language]}}</i-option>
                                                <i-option v-for="item in vehicleTypeList" :value="item.type">{{item.name}}</i-option>
                                            </i-select>
                                        </template>
                                        <template>
                                            &nbsp;&nbsp;{{{'CN':'车牌号','EN':'Plate No.','TW':'車牌號'}[language]}}:
                                            <i-input v-model="pageInfo.licenseNumber" :placeholder="{'CN':'请输入车牌号','EN':'Plate No.','TW':'請輸入車牌號'}[language]" style="width: 100px"></i-input>
                                        </template>
                                        <!-- <template>
                                            &nbsp;&nbsp;{{{'CN':'颜色','EN':'Vehicle Type','TW':'顔色'}[language]}}:
                                            <i-select v-model="pageInfo.vehicleColorId" clearable :placeholder="{'CN':'请选择','EN':'Please Choose','TW':'請選擇'}[language]" style="width:80px;">
                                                <i-option value="0">{{{'CN':'全部','EN':'All','TW':'全部'}[language]}}</i-option>
                                                <i-option v-for="item in vehicleColorList" :value="item.type">{{item.name}}</i-option>
                                            </i-select>
                                        </template>
                                        <template>
                                            &nbsp;&nbsp;{{{'CN':'品牌','EN':'Vehicle Type','TW':'品牌'}[language]}}:
                                            <i-select v-model="pageInfo.vehicleBrandId" clearable :placeholder="{'CN':'请选择','EN':'Please Choose','TW':'請選擇'}[language]" style="width:80px;">
                                                <i-option value="0">{{{'CN':'全部','EN':'All','TW':'全部'}[language]}}</i-option>
                                                <i-option v-for="item in vehicleBrandList" :value="item.type">{{item.name}}</i-option>
                                            </i-select>
                                        </template> -->
                                        <template>
                                            <i-button @click="getVehicleList(true)" size="small" type="primary" icon="ios-search-outline">{{{'CN':'查询','EN':'Search','TW':'查詢'}[language]}}</i-button>
                                        </template>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </i-col>
                <i-col span="3">
                    <div class="actionWrap">
                        <template>
                            <i-buttonGroup>
                                <i-button @click="refresh" size="small" icon="ios-refresh">{{{'CN':'刷新','EN':'Refresh','TW':'刷新'}[language]}}</i-button>
                                <i-button @click="addItem" size="small" type="success" icon="ios-add-circle-outline">{{{'CN':'新增','EN':'Add','TW':'新增'}[language]}}</i-button>
                                <!-- <i-button @click="editItem" size="small" type="warning" icon="ios-paper-outline">{{{'CN':'编辑','EN':'Edit','TW':'編輯'}[language]}}</i-button>
                                <i-button @click="delItem" size="small" type="error" icon="ios-trash-outline">{{{'CN':'删除','EN':'Delete','TW':'刪除'}[language]}}</i-button> -->
                            </i-buttonGroup>
                        </template>
                    </div>
                </i-col>
            </Row>
        </div>

        <div class="tableWrap">
            <template>
                <i-table 
                :height="tableHeight" 
                :loading="isTableLoading" 
                highlight-row 
                :columns="columnsList" 
                :data="dataList" 
                stripe="true"
                size="small" 
                @on-row-click="setCurrentRowData">
                    <!-- <template slot-scope="{row, index}" slot="vehicleUseStatusSlot">
                        <i-select 
                            @on-change="vehicleUseStatusChange(row, index)" 
                            v-model="dataList[index]['useStatus']" 
                            clearable 
                            size="small" 
                            :placeholder="{'CN':'请选择','EN':'Please Choose','TW':'請選擇'}[language]"
                            style="width: 80px;">
                            <i-option v-for="item in vehicleUseStatusList" :value="item.type">{{item.name}}</i-option>
                        </i-select>
                        <i-button size="small" @click="showRecordList(index)" style="width: 40px;">记录</i-button>
                    </template>
                    
                    <template slot-scope="{row, index}" slot="vehicleStatusSlot">
                        <span :class="'_'+vehicleList[index]['vehicleStatus']"><span v-text="row.vehicleStatus"></span></span>
                        <template v-if="row.licenseNumber && vehicleList[index]['providerId']<100">
                            <i-button size="small" type="primary" @click="showLiveVideo(row.licenseNumber, vehicleList[index]['providerId'])" style="width: 40px;">视频</i-button>
                        </template>
                    </template> -->
                </i-table>
            </template>
        </div>

        <div class="pageWrap">
            <template>
                <Page :total="pageInfo.count" @on-change="pageSizeChange" @on-page-size-change="pageRowChange" :page-size="20" show-sizer show-total/>
            </template>
        </div>

        <!-- 修改、编辑 -->
        <template>
            <Modal v-model="isShowModal" :styles="{top: '60px'}" width="45" :title="modalTitle" :ok-text="{'CN':'确定','EN':'Confirm','TW':'確定'}[language]"
                :cancel-text="{'CN':'取消','EN':'Cancel','TW':'取消'}[language]" :loading="isModalLoading" @on-ok="uploadDataToServer">
                <div class="modifiedWrap">
                    <table>
                        <tbody>
                            <tr>
                                <td class="label">
                                    <span class="request">＊</span>
                                    <span v-text="{'CN':'公司','EN':'Head','TW':'公司'}[language]"></span>
                                </td>
                                <td>
                                    <template>
                                        <i-select @on-change="getDepartmentList('itemInfo')" v-model="itemInfo.companyId" clearable :placeholder="{'CN':'请选择','EN':'Please Choose','TW':'請選擇'}[language]">
                                            <i-option v-for="item in companyList" :value="item.id">{{item.companyName}}</i-option>
                                        </i-select>
                                    </template>
                                </td>
                                <td class="label" style="width: 70px;">
                                    <span v-text="{'CN':'部门','EN':'Superior Department','TW':'部門'}[language]"></span>
                                </td>
                                <td>
                                    <template>
                                        <Cascader :data="departmentList" v-model="itemInfo.deptIds" trigger="hover" change-on-select></Cascader>
                                    </template>
                                </td>
                            </tr>
                            <tr>
                                <td class="label">
                                    <span class="request">＊</span>
                                    <span v-text="{'CN':'车牌号','EN':'Plate No.','TW':'車牌號'}[language]"></span>
                                </td>
                                <td>
                                    <template>
                                        <i-input v-model="itemInfo.licenseNumber"/>
                                    </template>
                                </td>
                                <td class="label">
                                    <span class="request">＊</span>
                                    <span>使用状态</span>
                                </td>
                                <td>
                                    <template>
                                        <i-select v-model="itemInfo.useStatus" clearable :placeholder="{'CN':'请选择','EN':'Please Choose','TW':'請選擇'}[language]">
                                            <i-option value="">未知</i-option>
                                            <i-option v-for="item in vehicleUseStatusList" :value="item.type">{{item.name}}</i-option>
                                        </i-select>
                                    </template>
                                </td>
                            </tr>
                            <tr>
                                <td class="label">
                                    <span class="request">＊</span>
                                    <span v-text="{'CN':'车辆名称','EN':'Vehicle Name','TW':'車輛名稱'}[language]"></span>
                                </td>
                                <td>
                                    <i-input v-model="itemInfo.vehicleName"/>
                                </td>
                                <td class="label">
                                    <span class="request">＊</span>
                                    <span v-text="{'CN':'车辆编号','EN':'Vehicle Code','TW':'車輛編號'}[language]"></span>
                                </td>
                                <td>
                                    <i-input v-model="itemInfo.vehicleCode"/>
                                </td>
                            </tr>
                            <tr>
                                <td class="label">
                                    <span v-text="{'CN':'绑定终端','EN':'Terminal Number','TW':'綁定終端'}[language]"></span>
                                </td>
                                <td>
                                    <template>
                                        <i-select v-model="itemInfo.gpsDeviceId" clearable :placeholder="{'CN':'请选择','EN':'Please Choose','TW':'請選擇'}[language]">
                                            <i-option v-for="item in terminalList" :value="item.id">{{item.deviceCode}}</i-option>
                                        </i-select>
                                    </template>
                                </td>
                                <td class="label">
                                    <span class="request">＊</span>
                                    <span v-text="{'CN':'车辆类型','EN':'Vehicle Type','TW':'車輛類型'}[language]"></span>
                                </td>
                                <td>
                                    <template>
                                        <i-select v-model="itemInfo.vehicleTypeId" clearable :placeholder="{'CN':'请选择','EN':'Please Choose','TW':'請選擇'}[language]">
                                            <i-option v-for="item in vehicleTypeList" :value="item.type">{{item.name}}</i-option>
                                        </i-select>
                                    </template>
                                </td>
                            </tr>
                            <tr>
                                <td class="label">
                                    <span class="request">＊</span>
                                    <span v-text="{'CN':'车辆颜色','EN':'Vehicle Color','TW':'車輛顔色'}[language]"></span>
                                </td>
                                <td>
                                    <p>
                                        <i-select v-model="itemInfo.vehicleColorId" clearable :placeholder="{'CN':'请选择','EN':'Please Choose','TW':'請選擇'}[language]">
                                            <i-option v-for="item in vehicleColorList" :value="item.type">{{item.name}}</i-option>
                                        </i-select>
                                    </p>
                                </td>
                                <td class="label">
                                    <span class="request">＊</span>
                                    <span v-text="{'CN':'品牌','EN':'Brand','TW':'品牌'}[language]"></span>
                                </td>
                                <td>
                                    <template>
                                        <i-select v-model="itemInfo.vehicleBrandId" clearable :placeholder="{'CN':'请选择','EN':'Please Choose','TW':'請選擇'}[language]">
                                            <i-option v-for="item in vehicleBrandList" :value="item.type">{{item.name}}</i-option>
                                        </i-select>
                                    </template>
                                </td>
                            </tr>
                            <tr>
                                <td class="label" style="vertical-align: top;">
                                    <span v-text="{'CN':'备注','EN':'Remarks','TW':'備註'}[language]"></span>
                                </td>
                                <td colspan="3">
                                    <i-input v-model="itemInfo.remark" type="textarea" :row="4" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </Modal>
        </template>

        <!-- 查看详情 -->
        <template>
            <Modal v-model="isShowDetail" :footer-hide="true" :styles="{top: '60px'}" width="25" title="查看详情">
                <div class="modifiedWrap">
                    <table>
                        <tbody>
                            <tr class="detailInfo">
                                <td class="detailLabel"><span v-text="{'CN':'公司：','EN':'Company：','TW':'公司：'}[language]"></span></td>
                                <td><span v-text="itemInfo.companyName"></span></td>
                            </tr>
                            <tr class="detailInfo">
                                <td class="detailLabel"><span v-text="{'CN':'部门：','EN':'Department：','TW':'部門：'}[language]"></span></td>
                                <td><span v-text="itemInfo.deptName"></span></td>
                            </tr>
                            <tr class="detailInfo">
                                <td class="detailLabel"><span v-text="{'CN':'车牌号：','EN':'Plate No.：','TW':'車牌號'}[language]"></span></td>
                                <td><span v-text="itemInfo.licenseNumber"></span></td>
                            </tr>
                            <tr class="detailInfo">
                                <td class="detailLabel"><span v-text="{'CN':'活动状态：','EN':'Plate No.：','TW':'車牌號'}[language]"></span></td>
                                <td><span v-text="itemInfo.vehicleStatusName"></span></td>
                            </tr>
                            <tr class="detailInfo">
                                <td class="detailLabel"><span v-text="{'CN':'使用状态：','EN':'Plate No.：','TW':'車牌號'}[language]"></span></td>
                                <td><span v-text="itemInfo.useStatusName"></span></td>
                            </tr>
                            <tr class="detailInfo">
                                <td class="detailLabel"><span v-text="{'CN':'车辆名称：','EN':'Vehicle Name：','TW':'車輛名稱：'}[language]"></span></td>
                                <td><span v-text="itemInfo.vehicleName"></span></td>
                            </tr>
                            <tr class="detailInfo">
                                <td class="detailLabel"><span v-text="{'CN':'车辆编号：','EN':'Vehicle Code：','TW':'車輛編號：'}[language]"></span></td>
                                <td><span v-text="itemInfo.vehicleCode"></span></td>
                            </tr>
                            <tr class="detailInfo">
                                <td class="detailLabel"><span v-text="{'CN':'绑定终端：','EN':'Terminal Number：','TW':'綁定終端：'}[language]"></span></td>
                                <td><span v-text="itemInfo.gpsDeviceCode"></span></td>
                            </tr>
                            <tr class="detailInfo">
                                <td class="detailLabel"><span v-text="{'CN':'车辆类型：','EN':'Vehicle Type：','TW':'車輛類型：'}[language]"></span></td>
                                <td><span v-text="itemInfo.vehicleTypeName"></span></td>
                            </tr>
                            <tr class="detailInfo">
                                <td class="detailLabel"><span v-text="{'CN':'车辆颜色：','EN':'Vehicle Color：','TW':'車輛顔色：'}[language]"></span></td>
                                <td><span v-text="itemInfo.vehicleColorName"></span></td>
                            </tr>
                            <tr class="detailInfo">
                                <td class="detailLabel"><span v-text="{'CN':'车辆品牌：','EN':'Vehicle Brand：','TW':'車輛品牌：'}[language]"></span></td>
                                <td><span v-text="itemInfo.vehicleBrandName"></span></td>
                            </tr>
                            <tr class="detailInfo">
                                <td class="detailLabel"><span class="detailLabel" v-text="{'CN':'备注：','EN':'Remarks：','TW':'備註：'}[language]"></span></td>
                                <td><span v-text="itemInfo.remark"></span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </Modal>
        </template>

        <!-- 使用记录 -->
        <template>
            <Modal v-model="isRecord" footer-hide :styles="{top: '60px'}" width="60" title="使用记录">
                <Row>
                    <i-col span="8">
                        <div class="modifiedWrap" style="background-color: #f8f8f9;" :style="{height: tableHeight-200+'px'}">
                            <table style="padding: 10px;">
                                <tbody>
                                    <tr class="detailInfo">
                                        <td class="detailLabel"><span v-text="{'CN':'公司：','EN':'Company：','TW':'公司：'}[language]"></span></td>
                                        <td><span v-text="itemInfo.companyName"></span></td>
                                    </tr>
                                    <tr class="detailInfo">
                                        <td class="detailLabel"><span v-text="{'CN':'部门：','EN':'Department：','TW':'部門：'}[language]"></span></td>
                                        <td><span v-text="itemInfo.deptName"></span></td>
                                    </tr>
                                    <tr class="detailInfo">
                                        <td class="detailLabel"><span v-text="{'CN':'车牌号：','EN':'Plate No.：','TW':'車牌號'}[language]"></span></td>
                                        <td><span v-text="itemInfo.licenseNumber"></span></td>
                                    </tr>
                                    <tr class="detailInfo">
                                        <td class="detailLabel"><span v-text="{'CN':'车辆名称：','EN':'Vehicle Name：','TW':'車輛名稱：'}[language]"></span></td>
                                        <td><span v-text="itemInfo.vehicleName"></span></td>
                                    </tr>
                                    <tr class="detailInfo">
                                        <td class="detailLabel"><span v-text="{'CN':'车辆编号：','EN':'Vehicle Code：','TW':'車輛編號：'}[language]"></span></td>
                                        <td><span v-text="itemInfo.vehicleCode"></span></td>
                                    </tr>
                                    <tr class="detailInfo">
                                        <td class="detailLabel"><span v-text="{'CN':'绑定终端：','EN':'Terminal Number：','TW':'綁定終端：'}[language]"></span></td>
                                        <td><span v-text="itemInfo.gpsDeviceCode"></span></td>
                                    </tr>
                                    <tr class="detailInfo">
                                        <td class="detailLabel"><span v-text="{'CN':'车辆类型：','EN':'Vehicle Type：','TW':'車輛類型：'}[language]"></span></td>
                                        <td><span v-text="itemInfo.vehicleTypeName"></span></td>
                                    </tr>
                                    <tr class="detailInfo">
                                        <td class="detailLabel"><span v-text="{'CN':'车辆颜色：','EN':'Vehicle Color：','TW':'車輛顔色：'}[language]"></span></td>
                                        <td><span v-text="itemInfo.vehicleColorName"></span></td>
                                    </tr>
                                    <tr class="detailInfo">
                                        <td class="detailLabel"><span v-text="{'CN':'车辆品牌：','EN':'Vehicle Brand：','TW':'車輛品牌：'}[language]"></span></td>
                                        <td><span v-text="itemInfo.vehicleBrandName"></span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </i-col>
                    <i-col span="16">
                        <div class="tableWrap">
                            <i-table :height="tableHeight-200" highlight-row :columns="userRecordcolumns" :data="userRecordList"  stripe="true" size="small"></i-table>
                        </div>
        
                        <div class="pageWrap">
                            <template>
                                <Page :total="recordPageInfo.count" @on-change="userStatuPageSizeChange" @on-page-size-change="userStatuPageRowChange" :page-size="20" show-sizer show-total/>
                            </template>
                        </div>
                    </i-col>
                </Row>
            </Modal>

        </template>

        <!-- 删除车辆 -->
        <template>
            <Modal 
                v-model="isDelete" 
                :styles="{top: '60px'}" 
                width="25" 
                title="确定删除？" 
                :loading="isModalLoading"
                @on-ok="delItem">
                <div class="modifiedWrap">
                    <table>
                        <tbody>
                            <tr class="detailInfo">
                                <td class="detailLabel"><span v-text="{'CN':'公司：','EN':'Company：','TW':'公司：'}[language]"></span></td>
                                <td><span v-text="itemInfo.companyName"></span></td>
                            </tr>
                            <tr class="detailInfo">
                                <td class="detailLabel"><span v-text="{'CN':'部门：','EN':'Department：','TW':'部門：'}[language]"></span></td>
                                <td><span v-text="itemInfo.deptName"></span></td>
                            </tr>
                            <tr class="detailInfo">
                                <td class="detailLabel"><span v-text="{'CN':'车牌号：','EN':'Plate No.：','TW':'車牌號'}[language]"></span></td>
                                <td><span v-text="itemInfo.licenseNumber"></span></td>
                            </tr>
                            <tr class="detailInfo">
                                <td class="detailLabel"><span v-text="{'CN':'活动状态','EN':'Plate No.：','TW':'車牌號'}[language]"></span></td>
                                <td><span v-text="itemInfo.vehicleStatusName"></span></td>
                            </tr>
                            <tr class="detailInfo">
                                <td class="detailLabel"><span v-text="{'CN':'使用状态','EN':'Plate No.：','TW':'車牌號'}[language]"></span></td>
                                <td><span v-text="itemInfo.useStatusName"></span></td>
                            </tr>
                            <tr class="detailInfo">
                                <td class="detailLabel"><span v-text="{'CN':'车辆名称：','EN':'Vehicle Name：','TW':'車輛名稱：'}[language]"></span></td>
                                <td><span v-text="itemInfo.vehicleName"></span></td>
                            </tr>
                            <tr class="detailInfo">
                                <td class="detailLabel"><span v-text="{'CN':'车辆编号：','EN':'Vehicle Code：','TW':'車輛編號：'}[language]"></span></td>
                                <td><span v-text="itemInfo.vehicleCode"></span></td>
                            </tr>
                            <tr class="detailInfo">
                                <td class="detailLabel"><span v-text="{'CN':'绑定终端：','EN':'Terminal Number：','TW':'綁定終端：'}[language]"></span></td>
                                <td><span v-text="itemInfo.gpsDeviceCode"></span></td>
                            </tr>
                            <tr class="detailInfo">
                                <td class="detailLabel"><span v-text="{'CN':'车辆类型：','EN':'Vehicle Type：','TW':'車輛類型：'}[language]"></span></td>
                                <td><span v-text="itemInfo.vehicleTypeName"></span></td>
                            </tr>
                            <tr class="detailInfo">
                                <td class="detailLabel"><span v-text="{'CN':'车辆颜色：','EN':'Vehicle Color：','TW':'車輛顔色：'}[language]"></span></td>
                                <td><span v-text="itemInfo.vehicleColorName"></span></td>
                            </tr>
                            <tr class="detailInfo">
                                <td class="detailLabel"><span v-text="{'CN':'车辆品牌：','EN':'Vehicle Brand：','TW':'車輛品牌：'}[language]"></span></td>
                                <td><span v-text="itemInfo.vehicleBrandName"></span></td>
                            </tr>
                            <tr class="detailInfo">
                                <td class="detailLabel"><span class="detailLabel" v-text="{'CN':'备注：','EN':'Remarks：','TW':'備註：'}[language]"></span></td>
                                <td><span v-text="itemInfo.remark"></span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </Modal>
        </template>

    </div>
    <script src="/airport/assets/js/LAB.min.js"></script>
    <script>
        loadScript(MODUL+"module/vehicleManage/vehicleManage.min.js");
    </script>
</body>

</html>