<!DOCTYPE html>
<html lang="zh">

<head>
    <title></title>

    <!-- 页面字符编码 -->
    <meta charset="utf-8">

    <!-- 避免IE使用兼容模式 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!-- 启用360浏览器的极速模式(webkit) -->
    <meta name="renderer" content="webkit">
    <!-- 微软的老式浏览器 -->
    <meta name="MobileOptimized" content="320">

    <!-- 关键字描述 -->
    <meta name="keywords" content="">
    <meta name="description" content="">

    <!-- 设置移动端视图 -->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <!-- 针对手持设备优化，主要是针对一些老的不识别viewport的浏览器，比如黑莓 -->
    <meta name="HandheldFriendly" content="true">

    <!-- 删除苹果默认的工具栏和菜单栏 -->
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <!-- 设置苹果工具栏颜色 -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />

    <!-- 忽略页面中的数字识别为电话，忽略email识别 -->
    <meta name="format-detection" content="telphone=no, email=no" />

    <!-- uc强制竖屏 -->
    <meta name="screen-orientation" content="portrait">
    <!-- QQ强制竖屏 -->
    <meta name="x5-orientation" content="portrait">
    <!-- UC强制全屏 -->
    <meta name="full-screen" content="yes">
    <!-- QQ强制全屏 -->
    <meta name="x5-fullscreen" content="true">
    <!-- UC应用模式 -->
    <meta name="browsermode" content="application">
    <!-- QQ应用模式 -->
    <meta name="x5-page-mode" content="app">
    <link rel="stylesheet" href="/airport/assets/vender/iView/styles/iView.min.css">
    <link rel="stylesheet" type="text/css" href="/airport/www/css/common.min.css" />
</head>

<body class="innerPage">
    <div id="js-vue" class="tableContainer">
        <div class="top">
            <Row type="flex" justify="start" gutter="0">
                <i-col span="24">
                    <div class="searchWrap">
                        <table>
                            <tbody>
                                <tr>
                                    <td>
                                        <template>
                                            &nbsp;&nbsp;{{{'CN':'半径范围','EN':'Radius','TW':'半徑範圍'}[language]}}
                                            <i-input v-model="vehiclePositonPageInfo.span" :placeholder="{'CN':'半径(单位/米)','EN':'Radius(unit/m)','TW':'半徑(單位/米)'}[language]" style="width:100px;"></i-input>
                                        </template>
                                        <template>
                                            &nbsp;&nbsp;{{{'CN':'车辆名称','EN':'Vehicle Name','TW':'車輛名稱'}[language]}}
                                            <i-input v-model="vehiclePositonPageInfo.vehicleName" :placeholder="{'CN':'车辆名称','EN':'Vehicle Name','TW':'車輛名稱'}[language]" style="width:100px;"></i-input>
                                        </template>
                                        <template>
                                            &nbsp;&nbsp;{{{'CN':'车辆编号','EN':'Vehicle Number','TW':'車輛編號'}[language]}}
                                            <i-input v-model="vehiclePositonPageInfo.vehicleCode" :placeholder="{'CN':'车辆编号','EN':'Vehicle Number','TW':'車輛編號'}[language]" style="width:80px;"></i-input>
                                        </template>
                                        <template>
                                            &nbsp;&nbsp;{{{'CN':'车辆状态','EN':'Vehicle Statu','TW':'車輛狀態'}[language]}}
                                            <i-select v-model="vehiclePositonPageInfo.vehicleStatus" clearable :placeholder="{'CN':'请选择','EN':'Please Choose','TW':'請選擇'}[language]" style="width:80px;">
                                                <i-option v-text="{'CN':'全部','EN':'All','TW':'全部'}[language]"></i-option>
                                                <i-option v-for="item in terminalStatusList" :value="item.type">{{item.name}}</i-option>
                                            </i-select>
                                        </template>
                                    
                                        <template>
                                            &nbsp;&nbsp;{{{'CN':'车辆类型','EN':'Vehicle Type','TW':'車輛類型'}[language]}}
                                            <i-select v-model="vehiclePositonPageInfo.vehicleTypeId" clearable :placeholder="{'CN':'请选择','EN':'Please Choose','TW':'請選擇'}[language]" style="width:80px;">
                                                <i-option v-text="{'CN':'全部','EN':'All','TW':'全部'}[language]"></i-option>
                                                <i-option v-for="item in vehicleTypeList" :value="item.type">{{item.name}}</i-option>
                                            </i-select>
                                        </template>
                                    
                                        <template>
                                            &nbsp;&nbsp;{{{'CN':'车辆颜色','EN':'Vehicle Color','TW':'車輛顔色'}[language]}}
                                            <i-select v-model="vehiclePositonPageInfo.vehicleColorId" clearable :placeholder="{'CN':'请选择','EN':'Please Choose','TW':'請選擇'}[language]" style="width:80px;">
                                                <i-option v-text="{'CN':'全部','EN':'All','TW':'全部'}[language]"></i-option>
                                                <i-option v-for="item in vehicleColorList" :value="item.type">{{item.name}}</i-option>
                                            </i-select>
                                        </template>
                                        <template>
                                            &nbsp;&nbsp;{{{'CN':'车辆品牌','EN':'Brand','TW':'車輛品牌'}[language]}}
                                            <i-select v-model="vehiclePositonPageInfo.vehicleBrandId" clearable :placeholder="{'CN':'请选择','EN':'Please Choose','TW':'請選擇'}[language]" style="width:90px;">
                                                <i-option v-text="{'CN':'全部','EN':'All','TW':'全部'}[language]"></i-option>
                                                <i-option v-for="item in vehicleBrandList" :value="item.type">{{item.name}}</i-option>
                                            </i-select>
                                        </template>
                                        <template>
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i-button @click="getDataBySearch" size="small" type="primary" icon="ios-search-outline">{{{'CN':'查询','EN':'Search','TW':'查詢'}[language]}}</i-button>
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i-button @click="refresh" size="small" icon="ios-refresh">{{{'CN':'刷新','EN':'Refresh','TW':'刷新'}[language]}}</i-button>
                                        </template>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </i-col>
            </Row>
        </div>

        <div class="echartWrap">
            <Row>
                <i-col span="12">
                    <div :style="{height: tableHeight/2+'px'}" id="illegaInfo"></div>
                </i-col>
                <i-col span="12">
                    <div :style="{height: tableHeight/2+'px'}" id="milleInfo"></div>
                </i-col>
            </Row>
        </div>

        <div class="tableWrap">
            <template>
                <i-table :height="tableHeight/2" :loading="isTableLoading" highlight-row :columns="columnsList" :data="dataList" stripe="true"
                    size="small"></i-table>
            </template>
        </div>

        <div class="pageWrap">
            <template>
                <Page :total="vehiclePositonPageInfo.count" @on-change="pageSizeChange" @on-page-size-change="pageRowChange" :page-size="20" show-sizer show-total />
            </template>
        </div>

    </div>
    
    <script src="/airport/assets/js/LAB.min.js"></script>
    <script src="/airport/assets/js/echarts.min.js?v=173412347"></script>
    <script>
        loadScript(MODUL+"module/usageStatistics/usageStatistics.min.js");
    </script>
</body>

</html>