<!DOCTYPE html>
<html lang="zh">

<head>
    <title>特种车辆音视频可视化系统</title>

    <!-- 页面字符编码 -->
    <meta charset="utf-8">

    <!-- 避免IE使用兼容模式 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!-- 启用360浏览器的极速模式(webkit) -->
    <meta name="renderer" content="webkit">
    <!-- 微软的老式浏览器 -->
    <meta name="MobileOptimized" content="320">

    <!-- 关键字描述 -->
    <meta name="keywords" content="">
    <meta name="description" content="">

    <!-- 设置移动端视图 -->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <!-- 针对手持设备优化，主要是针对一些老的不识别viewport的浏览器，比如黑莓 -->
    <meta name="HandheldFriendly" content="true">

    <!-- 删除苹果默认的工具栏和菜单栏 -->
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <!-- 设置苹果工具栏颜色 -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />

    <!-- 忽略页面中的数字识别为电话，忽略email识别 -->
    <meta name="format-detection" content="telphone=no, email=no" />

    <!-- uc强制竖屏 -->
    <meta name="screen-orientation" content="portrait">
    <!-- QQ强制竖屏 -->
    <meta name="x5-orientation" content="portrait">
    <!-- UC强制全屏 -->
    <meta name="full-screen" content="yes">
    <!-- QQ强制全屏 -->
    <meta name="x5-fullscreen" content="true">
    <!-- UC应用模式 -->
    <meta name="browsermode" content="application">
    <!-- QQ应用模式 -->
    <meta name="x5-page-mode" content="app">
    <link rel="icon" href="/airport/www/img/logo.png">
    <link rel="stylesheet" href="/airport/assets/vender/iView/styles/iView.min.css">
    <link rel="stylesheet" type="text/css" href="/airport/www/css/common.min.css?v=73483418234172" />
    <link rel="stylesheet" type="text/css" href="/airport/www/css/liveVideo.min.css?v=1341237412738" />
</head>

<body>
    <div id="js-vue" class="videoPage">
        <div class="video_main">

            <!-- 顶部操作栏 -->
            <div class="video_ctrl_area">
                
                <!-- logo -->
                <div class="logoIcon">
                    <img src="/airport/www/img/logo.png"/>
                </div>
                <div class="title">特种车辆音视频可视化系统</div>
                
                <!-- 操作 -->
                <div class="playWrap">
                    <div class="splitWrap">
                        <template>
                            <ButtonGroup shape="circle">
                                <i-button :type="splitNum==4?'warning':'default'" icon="logo-windows" @click="updateVideoWin(4)">4屏</i-button>
                                <i-button :type="splitNum==8?'warning':'default'" icon="ios-grid" @click="updateVideoWin(8)">8屏</i-button>
                            </ButtonGroup>
                        </template>
                    </div>
                    <template v-if="queryInfo.isBackPlay==0">
                        <template v-if="isStop==true">
                            <i-button type="success" :disabled="!isStop" icon="md-play" @click="startLiveVideo">重新播放</i-button>
                        </template>
                        <template v-else>
                            <i-button type="error" :disabled="isStop" icon="md-pause" @click="stopVideo">停止</i-button>
                        </template>
                    </template>
                    <template  v-if="queryInfo.isBackPlay==1">
                        <i-button type="success" @click="backPlay.isBackPlay=true"><span><Icon type="ios-alarm-outline" size="18" /></span><span>选择时间</span></i-button>
                    </template>
                    <span class="closeTime" v-text="timeLen+' 秒后关闭视频'"></span>
                </div>
                
                <!-- 状态 -->
                <template v-if="msgInfo">
                    <div class="msgTip">
                        <Tag type="dot" :color="msgType" v-text="msgInfo"></Tag>
                    </div>
                </template>
                
                <!-- 网络信号 -->
                <div class="netnSignal">
                    <template>
                        <span class="label">播放时长：</span>
                        <i-select v-model="timeSelect" style="width:120px" @on-change="onTimeChange">
                            <i-option value="120">120秒</i-option>
                            <i-option value="240">240秒</i-option>
                            <i-option value="300">300秒</i-option>
                            <i-option value="360">360秒</i-option>
                        </i-select>
                    </template>
                </div>
                
            </div>

            <!-- 视频 -->
            <div class="video_player_area" id="videoContainer">
                <template v-for="index in mVideoCount">
                    <div class="videoItem" :id="'liveVideo'+(index-1)" draggable="true" @drop="drop($event)" @dragend="dragEnd($event)" @dragover="dragOver($event)">
                        <div class="videoWrap" @click="setCurrentStyle('liveVideo'+(index-1))">
                            <template v-if="index-1==0">
                                <video :id="'video'+(index-1)" controls autoplay poster="/airport/www/img/poster.png">无视频</video>
                            </template>
                            <template  v-else>
                                <video :id="'video'+(index-1)" muted controls autoplay poster="/airport/www/img/poster.png">无视频</video>
                            </template>
                            <div class="channelIndex">
                                <span>{{(index)+' 路摄像头'}}</span>
                                <span><Icon type="ios-videocam-outline" size="18" /></span>
                            </div>
                        </div>
                    </div>
                </template>
            </div>

        </div>

        <Modal v-model="offLine" width="360" footer-hide :closable="false" :mask-closable="false">
            <p slot="header" style="color:#f60;text-align:center">
                <i-icon type="ios-information-circle" size="18px"></i-icon>
                <span style="font-size: 18px;">关闭视频</span>
            </p>
            <div style="text-align:center; font-size: 18px;">
                <p>车辆暂无视频数据,视频画面即将关闭......</p>
                <p style="font-size: 64px; color: #f60;">{{timeOffline}}</p>
            </div>
        </Modal>

        <Modal 
            width="250" 
            footer-hide 
            v-model="backPlay.isBackPlay" 
            :mask-closable="false"
            :draggable="true"
            :styles="{top: '60px', left: '50px', position: 'absolute'}" 
        >
            <p slot="header" style="color:#f60;text-align:center">
                <i-icon type="ios-information-circle" size="18px"></i-icon>
                <span style="font-size: 18px;">选择时间</span>
            </p>
            <div style="padding: 5px 0;">
                日期：<br/>
                <template>
                    <date-picker type="date" @on-change="dateChange" v-model="backPlay.date" placeholder="请选择日期" style="width: 100%"></date-picker>
                </template>
            </div>
            <div style="padding: 5px 0;">
                开始时间：<br/>
                <time-picker type="time" v-model="backPlay.beginTime" @on-change="beginTimeChange"  placeholder="请选择开始时间" style="width: 100%"></time-picker>
            </div>
            <div style="padding: 5px 0;">
                结束时间：<br/>
                <time-picker type="time" v-model="backPlay.endTime" @on-change="endTimeChange"  placeholder="请选择结束时间" style="width: 100%"></time-picker>
            </div>
            <div style="padding: 5px 0;">
                <i-button type="primary" style="width: 100%" @click="startBackVideo">确定</i-button>
            </div>
        </Modal>

        <template>
            <Modal v-model="isShowDetail" class="detailModal" :footer-hide="true" :closable="false" :mask="false" :styles="{position: 'absolute', top: '50px', right: '5px'}" width="20" title="车辆详细信息">
                <p slot="header" style="color:#FFF;">
                    <span style="font-size: 18px; padding-left: 30px;">车辆详细信息</span>
                </p>
                <div class="modifiedWrap">
                    <table>
                        <tbody>
                            <tr class="detailInfo">
                                <td> 
                                    <span class="label">公司：</span><br/>
                                    <span v-text="vehicleInfo.companyName"></span>
                                </td>
                            </tr>
                            <tr class="detailInfo">
                                <td>
                                    <span class="label">部门：</span><br/>
                                    <span v-text="vehicleInfo.deptName"></span>
                                </td>
                            </tr>

                            <tr class="detailInfo">
                                <td>
                                    <span class="label">车辆名称：</span><br/>
                                    <span v-text="vehicleInfo.vehicleName"></span>
                                </td>
                            </tr>
                            
                            <tr class="detailInfo">
                                <td>
                                    <span class="label">车牌号：</span><br/>
                                    <span v-text="vehicleInfo.licenseNumber"></span>
                                </td>
                            </tr>
                        
                            <tr class="detailInfo">
                                <td>
                                    <span class="label">车辆编号：</span><br/>
                                    <span v-text="vehicleInfo.vehicleCode"></span>
                                </td>
                            </tr>
                            <tr class="detailInfo">
                                <td>
                                    <span class="label">绑定终端：</span><br/>
                                    <span v-text="vehicleInfo.gpsDeviceCode"></span>
                                </td>
                            </tr>
                            <tr class="detailInfo">
                                <td>
                                    <span class="label">车辆类型：</span><br/>
                                    <span v-text="vehicleInfo.vehicleTypeName"></span>
                                </td>
                            </tr>
                            <tr class="detailInfo">
                                <td>
                                    <span class="label">车辆颜色：</span><br/>
                                    <span v-text="vehicleInfo.vehicleColorName"></span>
                                </td>
                            </tr>
                            <tr class="detailInfo">
                                <td>
                                    <span class="label">车辆品牌：</span><br/>
                                    <span v-text="vehicleInfo.vehicleBrandName"></span>
                                </td>
                            </tr>
                            <tr class="detailInfo">
                                <td style="padding-top: 20px;">
                                    <i-button @click="backPage" long type="primary">
                                        <span><Icon type="md-arrow-back" /></span>
                                        <span>返回上一页</span>
                                    </i-button>
                                </td>
                            </tr>
                        </tbody>
                    </table> 
                </div>
            </Modal>
        </template>

    </div>

    <script src="/airport/assets/js/flv.min.js?v=4137492734394"></script>
    <script src="/airport/assets/js/LAB.min.js"></script>
    <script>
        loadScript(MODUL+"module/liveVideoTest1/liveVideo.min.js");
    </script>
</body>

</html>