<!DOCTYPE html>
<html lang="zh">

<head>
    <title></title>

    <!-- 页面字符编码 -->
    <meta charset="utf-8">

    <!-- 避免IE使用兼容模式 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!-- 启用360浏览器的极速模式(webkit) -->
    <meta name="renderer" content="webkit">
    <!-- 微软的老式浏览器 -->
    <meta name="MobileOptimized" content="320">

    <!-- 关键字描述 -->
    <meta name="keywords" content="">
    <meta name="description" content="">

    <!-- 设置移动端视图 -->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <!-- 针对手持设备优化，主要是针对一些老的不识别viewport的浏览器，比如黑莓 -->
    <meta name="HandheldFriendly" content="true">

    <!-- 删除苹果默认的工具栏和菜单栏 -->
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <!-- 设置苹果工具栏颜色 -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />

    <!-- 忽略页面中的数字识别为电话，忽略email识别 -->
    <meta name="format-detection" content="telphone=no, email=no" />

    <!-- uc强制竖屏 -->
    <meta name="screen-orientation" content="portrait">
    <!-- QQ强制竖屏 -->
    <meta name="x5-orientation" content="portrait">
    <!-- UC强制全屏 -->
    <meta name="full-screen" content="yes">
    <!-- QQ强制全屏 -->
    <meta name="x5-fullscreen" content="true">
    <!-- UC应用模式 -->
    <meta name="browsermode" content="application">
    <!-- QQ应用模式 -->
    <meta name="x5-page-mode" content="app">
    <link rel="stylesheet" href="/airport/assets/vender/iView/styles/iView.min.css">
    <link rel="stylesheet" type="text/css" href="/airport/www/css/common.min.css?v=11234172347" />
</head>

<body class="innerPage">
    <div id="js-vue" class="tableContainer">
        <div class="top">
            <Row type="flex" justify="start" gutter="10">
                <i-col span="16">
                    <div class="searchWrap">
                        <table>
                            <tbody>
                                <tr>
                                    <td>
                                        <template>
                                            公司:
                                            <i-select @on-change="getSuperiorDeprtList('pageInfo')"
                                                v-model="pageInfo.companyId" clearable placeholder="请选择公司"
                                                style="width:150px;">
                                                <i-option value="0">全部
                                                </i-option>
                                                <i-option v-for="item in companyList" :value="item.id">
                                                    {{item.companyName}}</i-option>
                                            </i-select>
                                        </template>
                                    <td>
                                        <template>&nbsp;&nbsp;部门:</template>
                                    </td>
                                    <td>
                                        <template>
                                            <Cascader :data="superiorDepartmentList" v-model="pageInfo.deptIds"
                                                trigger="click" :change-on-select="true" style="width:180px;">
                                            </Cascader>
                                        </template>
                                    </td>
                                    <td>
                                        <template>
                                            &nbsp;&nbsp;用户账号:
                                            <i-input v-model="pageInfo.userCode" placeholder="请输入用户账"
                                                style="width: 120px">
                                            </i-input>
                                        </template>
                                    </td>
                                    <td>
                                        <template>
                                            &nbsp;&nbsp;用户名:
                                            <i-input v-model="pageInfo.userName" placeholder="请输入用户名"
                                                style="width: 120px">
                                            </i-input>
                                        </template>
                                    </td>
                                    <td>
                                        <template>
                                            &nbsp;&nbsp;&nbsp;
                                            <i-button @click="getUserList(true)" size="small" type="primary"
                                                icon="ios-search-outline">
                                                {{{'CN':'查询','EN':'Search','TW':'查詢'}[language]}}</i-button>
                                        </template>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </i-col>
                <i-col span="8">
                    <div class="actionWrap">
                        <template>
                            <i-buttonGroup>
                                <i-button @click="refresh" size="small" icon="ios-refresh">
                                    {{{'CN':'刷新','EN':'Refresh','TW':'刷新'}[language]}}</i-button>
                                <i-button @click="addItem" size="small" type="success" icon="ios-add-circle-outline">
                                    {{{'CN':'新增','EN':'Add','TW':'新增'}[language]}}</i-button>
                                <!-- <i-button @click="editItem" size="small" type="warning" icon="ios-paper-outline">{{{'CN':'编辑','EN':'Edit','TW':'編輯'}[language]}}</i-button>
                                <i-button @click="delItem" size="small" type="error" icon="ios-trash-outline">{{{'CN':'删除','EN':'Delete','TW':'刪除'}[language]}}</i-button> -->
                            </i-buttonGroup>
                        </template>
                    </div>
                </i-col>
            </Row>
        </div>

        <div class="tableWrap">
            <template>
                <i-table :height="tableHeight" :loading="isTableLoading" highlight-row :columns="columnsList"
                    :data="tableRowList" stripe="true" size="small" @on-row-click="setCurrentRowData"></i-table>
            </template>
        </div>

        <div class="pageWrap">
            <template>
                <Page :total="pageInfo.count" @on-change="pageSizeChange" @on-page-size-change="pageRowChange"
                    :page-size="20" show-sizer show-total />
            </template>
        </div>

        <!-- 新增、修改 -->
        <template>
            <Modal v-model="isShowModal" :styles="{top: '60px'}" :mask-closable="false" width="45" :title="modalTitle"
                :ok-text="{'CN':'确定','EN':'Confirm','TW':'確定'}[language]"
                :cancel-text="{'CN':'取消','EN':'Cancel','TW':'取消'}[language]" :loading="isModalLoading"
                @on-ok="uploadDataToServer">
                <div class="modifiedWrap">
                    <table>
                        <tbody>
                            <tr>
                                <td class="label">
                                    <span class="request">＊</span>
                                    <span v-text="{'CN':'公司','EN':'Head','TW':'公司'}[language]"></span>
                                </td>
                                <td style="width: 32%;">
                                    <template>
                                        <i-select @on-change="getSuperiorDeprtList('itemInfo')"
                                            v-model="itemInfo.companyId" clearable
                                            :placeholder="{'CN':'请选择','EN':'Please Choose','TW':'請選擇'}[language]">
                                            <i-option v-for="item in companyList" :value="item.id">{{item.companyName}}
                                            </i-option>
                                        </i-select>
                                    </template>
                                </td>
                                <td class="label">
                                    <span v-text="{'CN':'部门','EN':'Superior Department','TW':'部門'}[language]"></span>
                                </td>
                                <td style="width: 40%;">
                                    <template>
                                        <Cascader :data="superiorDepartmentList" v-model="itemInfo.deptIds"
                                            trigger="click" :change-on-select="true"></Cascader>
                                    </template>
                                </td>
                            </tr>
                            <tr>
                                <td class="label">
                                    <span class="request">＊</span>
                                    <span v-text="{'CN':'账户','EN':'Account','TW':'帳戶'}[language]"></span>
                                </td>
                                <td>
                                    <i-input v-model="itemInfo.userCode" />
                                </td>
                                <td class="label">
                                    <span v-text="{'CN':'密码','EN':'Password','TW':'密碼'}[language]"></span>
                                </td>
                                <td>
                                    <i-input v-model="itemInfo.userPwd" />
                                </td>
                            </tr>
                            <tr>
                                <td class="label">
                                    <span v-text="{'CN':'帐号状态','EN':'Email','TW':'帳號狀態'}[language]"></span>
                                </td>
                                <td>
                                    <template>
                                        <i-select v-model="itemInfo.status" clearable
                                            :placeholder="{'CN':'请选择','EN':'Please Choose','TW':'請選擇'}[language]">
                                            <i-option v-for="item in userStatusTypeList" :value="item.type">
                                                {{item.name}}</i-option>
                                        </i-select>
                                    </template>
                                </td>
                                <td class="label">
                                    <span v-text="{'CN':'工号','EN':'Work No.','TW':'工號'}[language]"></span>
                                </td>
                                <td>
                                    <i-input v-model="itemInfo.userSeq" />
                                </td>
                            </tr>
                            <tr>
                                <td class="label">
                                    <span class="request">＊</span>
                                    <span>角色</span>
                                </td>
                                <td>
                                    <template>
                                        <i-select v-model="itemInfo.roleIdList" multiple clearable style="width:100%"
                                            :placeholder="{'CN':'请选择','EN':'Please Choose','TW':'請選擇'}[language]">
                                            <i-option v-for="item in roleList" :value="item.id">{{item.roleName}}
                                            </i-option>
                                        </i-select>
                                    </template>
                                </td>
                                <td class="label">
                                    <span class="request">＊</span>
                                    <span>公司管理员</span>
                                </td>
                                <td>
                                    <template>
                                        <i-select v-model="itemInfo.isCompanyAdmin" clearable
                                            :placeholder="{'CN':'请选择','EN':'Please Choose','TW':'請選擇'}[language]">
                                            <i-option :value="1">是</i-option>
                                            <i-option :value="0">否</i-option>
                                        </i-select>
                                    </template>
                                </td>
                            </tr>
                            <tr>
                                <td class="label">
                                    <span v-if="!!itemInfo.deptIds" class="request">＊</span>
                                    <span>职位类型</span>
                                </td>
                                <td>
                                    <template>
                                        <i-select v-model="itemInfo.posiType" clearable
                                            :placeholder="{'CN':'请选择','EN':'Please Choose','TW':'請選擇'}[language]">
                                            <i-option :value="141">正负责人</i-option>
                                            <i-option :value="142">副负责人</i-option>
                                            <i-option :value="143">员工</i-option>
                                        </i-select>
                                    </template>
                                </td>
                                <td class="label">
                                    <span v-if="!!itemInfo.deptIds" class="request">＊</span>
                                    <span>职位名称</span>
                                </td>
                                <td>
                                    <template>
                                        <i-input v-model="itemInfo.posiName" />
                                    </template>
                                </td>
                            </tr>
                            <tr>
                                <td class="label">
                                    <span class="request">＊</span>
                                    <span v-text="{'CN':'姓名','EN':'Name','TW':'姓名'}[language]"></span>
                                </td>
                                <td>
                                    <i-input v-model="itemInfo.userName" />
                                </td>
                                <td class="label">
                                    <span v-text="{'CN':'性別','EN':'Superior','TW':'性別'}[language]"></span>
                                </td>
                                <td>
                                    <template>
                                        <i-select v-model="itemInfo.sex" clearable
                                            :placeholder="{'CN':'请选择','EN':'Please Choose','TW':'請選擇'}[language]">
                                            <i-option v-for="item in sexTypeList" :value="item.type">{{item.name}}
                                            </i-option>
                                        </i-select>
                                    </template>
                                </td>
                            </tr>
                            <tr>
                                <td class="label">
                                    <span v-text="{'CN':'手机','EN':'Mobile Phone','TW':'手機'}[language]"></span>
                                </td>
                                <td>
                                    <i-input v-model="itemInfo.mobile" />
                                </td>
                                <td class="label">
                                    <span v-text="{'CN':'邮箱','EN':'Email','TW':'郵箱'}[language]"></span>
                                </td>
                                <td>
                                    <i-input v-model="itemInfo.email" />
                                </td>
                            </tr>
                            <tr>
                                <td class="label" style="vertical-align: top;">
                                    <span v-text="{'CN':'备注','EN':'Remarks','TW':'備註'}[language]"></span>
                                </td>
                                <td colspan="3">
                                    <i-input v-model="itemInfo.remark" type="textarea" :rows="4" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </Modal>
        </template>

        <template>
            <Modal v-model="isShowDetail" :footer-hide="true" :styles="{top: '60px'}" width="30" title="查看详情">
                <div class="modifiedWrap">
                    <table>
                        <tbody>
                            <tr class="detailInfo">
                                <td class="detailLabel" style="width: 160px;"><span>公司：</span></td>
                                <td><span v-text="itemInfo.companyName"></span></td>
                            </tr>
                            <tr class="detailInfo">
                                <td class="detailLabel"><span>部门：</span></td>
                                <td><span v-text="itemInfo.deptName"></span></td>
                            </tr>
                            <tr class="detailInfo">
                                <td class="detailLabel"><span>账户：</span></td>
                                <td><span v-text="itemInfo.userCode"></span></td>
                            </tr>
                            <tr class="detailInfo">
                                <td class="detailLabel"><span>帐号状态：</span></td>
                                <td><span v-text="itemInfo.statusName"></span></td>
                            </tr>
                            <tr class="detailInfo">
                                <td class="detailLabel"><span>姓名：</span></td>
                                <td><span v-text="itemInfo.userName"></span></td>
                            </tr>
                            <tr class="detailInfo">
                                <td class="detailLabel"><span>性別：</span></td>
                                <td><span v-text="itemInfo.sexName"></span></td>
                            </tr>
                            <tr class="detailInfo">
                                <td class="detailLabel"><span>工号：</span></td>
                                <td><span v-text="itemInfo.userSeq"></span></td>
                            </tr>
                            <tr class="detailInfo">
                                <td class="detailLabel"><span>是否公司管理员：</span></td>
                                <td><span v-text="!!itemInfo.isCompanyAdmin?'是':'否'"></span></td>
                            </tr>
                            <tr class="detailInfo">
                                <td class="detailLabel"><span>角色：</span></td>
                                <td><span v-text="itemInfo.roleNames"></span></td>
                            </tr>
                            <tr class="detailInfo">
                                <td class="detailLabel"><span>职位类型：</span></td>
                                <td><span v-text="posiTypeInfo['_'+itemInfo.posiType]"></span></td>
                            </tr>
                            <tr class="detailInfo">
                                <td class="detailLabel"><span>职位名称：</span></td>
                                <td><span v-text="itemInfo.posiName"></span></td>
                            </tr>
                            <tr class="detailInfo">
                                <td class="detailLabel"><span>手机号：</span></td>
                                <td><span v-text="itemInfo.mobile"></span></td>
                            </tr>
                            <tr class="detailInfo">
                                <td class="detailLabel"><span>邮箱：</span></td>
                                <td><span v-text="itemInfo.email"></span></td>
                            </tr>
                            <tr class="detailInfo">
                                <td class="detailLabel"><span>备注：</span></td>
                                <td><span v-text="itemInfo.remark"></span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </Modal>
        </template>

    </div>
    <script src="/airport/assets/js/LAB.min.js?v=3423841237481237"></script>
    <script>
        loadScript(MODUL + "module/userManage/userManage.js");
    </script>

</body>

</html>