<!DOCTYPE html>
<html lang="zh">

<head>
    <title></title>

    <!-- 页面字符编码 -->
    <meta charset="utf-8">

    <!-- 避免IE使用兼容模式 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!-- 启用360浏览器的极速模式(webkit) -->
    <meta name="renderer" content="webkit">
    <!-- 微软的老式浏览器 -->
    <meta name="MobileOptimized" content="320">

    <!-- 关键字描述 -->
    <meta name="keywords" content="">
    <meta name="description" content="">

    <!-- 设置移动端视图 -->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <!-- 针对手持设备优化，主要是针对一些老的不识别viewport的浏览器，比如黑莓 -->
    <meta name="HandheldFriendly" content="true">

    <!-- 删除苹果默认的工具栏和菜单栏 -->
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <!-- 设置苹果工具栏颜色 -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />

    <!-- 忽略页面中的数字识别为电话，忽略email识别 -->
    <meta name="format-detection" content="telphone=no, email=no" />

    <!-- uc强制竖屏 -->
    <meta name="screen-orientation" content="portrait">
    <!-- QQ强制竖屏 -->
    <meta name="x5-orientation" content="portrait">
    <!-- UC强制全屏 -->
    <meta name="full-screen" content="yes">
    <!-- QQ强制全屏 -->
    <meta name="x5-fullscreen" content="true">
    <!-- UC应用模式 -->
    <meta name="browsermode" content="application">
    <!-- QQ应用模式 -->
    <meta name="x5-page-mode" content="app">
    <link rel="stylesheet" href="/airport/assets/vender/iView/styles/iView.min.css">
    <link rel="stylesheet" type="text/css" href="/airport/www/css/common.min.css" />
</head>

<body class="innerPage">
    <div id="js-vue" class="tableContainer">
        <div class="top">
            <Row type="flex" justify="start" gutter="10">
                <i-col span="16" class-name="">
                    <div class="searchWrap">
                        <table>
                            <tbody>
                                <tr>
                                    <td>
                                        <template>
                                            {{{'CN':'归属公司','EN':'Ownership Company','TW':'歸屬公司'}[language]}}:
                                            <i-select v-model="pageInfo.companyId" clearable :placeholder="{'CN':'请选择','EN':'Please Choose','TW':'請選擇'}[language]" style="width:150px;">
                                                <i-option value="0">{{{'CN':'全部','EN':'All','TW':'全部'}[language]}}</i-option>
                                                <i-option v-for="item in companyList" :value="item.id">{{item.companyName}}</i-option>
                                            </i-select>
                                        </template>
                                        <template>
                                            &nbsp;&nbsp;{{{'CN':'防区状态','EN':'select layer','TW':'防區狀態'}[language]}}:
                                            <i-select v-model="pageInfo.secureStatus" clearable :placeholder="{'CN':'请选择','EN':'Please Choose','TW':'請選擇'}[language]" style="width:150px;">
                                                <i-option value="0">{{{'CN':'全部','EN':'All','TW':'全部'}[language]}}</i-option>
                                                <i-option v-for="item in secureAreaStatusList" :value="item.type">{{item.name}}</i-option>
                                            </i-select>
                                        </template>
                                        <template>
                                            &nbsp;&nbsp;{{{'CN':'防区名称','EN':'Group Name','TW':'防區名稱'}[language]}}:
                                            <i-input v-model="pageInfo.areaName" :placeholder="{'CN':'请输入查询关键字','EN':'Please Input Query Key','TW':'請輸入查詢關鍵字'}[language]" style="width: 120px"></i-input>
                                        </template>
                                    </td>
                                    <td>
                                        <template>
                                            &nbsp;&nbsp;&nbsp;
                                            <i-button @click="getDefensAreaList(true)" size="small" type="primary" icon="ios-search-outline">{{{'CN':'查询','EN':'Search','TW':'查詢'}[language]}}</i-button>
                                        </template>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </i-col>
                <i-col span="8">
                    <div class="actionWrap">
                        <template>
                            <i-buttonGroup>
                                <i-button @click="refresh" size="small" icon="ios-refresh">{{{'CN':'刷新','EN':'Refresh','TW':'刷新'}[language]}}</i-button>
                                <template v-if="defensFunc==true">
                                    <i-button @click="toMapPage" size="small" type="success" icon="ios-add-circle">{{{'CN':'新增防区','EN':'Add Defens','TW':'新增防區'}[language]}}</i-button>
                                    <!-- <i-button @click="editItem" size="small" type="warning" icon="ios-create">{{{'CN':'编辑','EN':'Edit','TW':'編輯'}[language]}}</i-button> -->
                                    <!-- <i-button @click="delItem" size="small" type="error" icon="ios-trash-outline">{{{'CN':'删除','EN':'Delete','TW':'刪除'}[language]}}</i-button> -->
                                </template>
                            </i-buttonGroup>
                        </template>
                    </div>
                </i-col>
            </Row>
        </div>

        <div class="tableWrap">
            <template>
                <i-table :height="tableHeight" :loading="isTableLoading" highlight-row :columns="columnsList" :data="dataList" stripe="true"
                    size="small" @on-row-click="setCurrentRowData"></i-table>
            </template>
        </div>

        <div class="pageWrap">
            <template>
                <Page :total="pageInfo.count" @on-change="pageSizeChange" @on-page-size-change="pageRowChange" :page-size="20" show-sizer show-total/>
            </template>
        </div>

        <template>
            <Modal v-model="isShowModal" :styles="{top: '60px'}" width="35" :title="modalTitle" :ok-text="{'CN':'确定','EN':'Confirm','TW':'確定'}[language]"
                :cancel-text="{'CN':'取消','EN':'Cancel','TW':'取消'}[language]" :loading="isModalLoading" @on-ok="uploadDataToServer">
                <div class="modifiedWrap">
                    <table>
                        <tbody>
                            <tr>
                                <td class="label" style="width: 90px;">
                                    <span class="request">＊</span>
                                    <span class="label" v-text="{'CN':'公司','EN':'Company','TW':'公司'}[language]"></span>
                                </td>
                                <td>
                                    <template>
                                        <i-select :disabled="!defensFunc" v-model="itemInfo.companyId" clearable :placeholder="{'CN':'请选择','EN':'Please Choose','TW':'請選擇'}[language]">
                                            <i-option value="">{{{'CN':'全部','EN':'All','TW':'全部'}[language]}}</i-option>
                                            <i-option v-for="item in companyList" :value="item.id">{{item.companyName}}</i-option>
                                        </i-select>
                                    </template>
                                </td>
                            </tr>
                            <tr>
                                <td class="label">
                                    <span class="request">＊</span>
                                    <span class="label" v-text="{'CN':'名称','EN':'Name','TW':'名稱'}[language]"></span>
                                </td>
                                <td>
                                    <i-input :disabled="!defensFunc" v-model="itemInfo.areaName" />
                                </td>
                            </tr>
                            <tr>
                                <td class="label">
                                    <span class="request">＊</span>
                                    <span class="label" v-text="{'CN':'编码','EN':'Code','TW':'編碼'}[language]"></span>
                                </td>
                                <td>
                                    <i-input :disabled="!defensFunc" v-model="itemInfo.areaCode" />
                                </td>
                            </tr>
                            <tr>
                                <td class="label">
                                    <span class="request">＊</span>
                                    <span class="label" v-text="{'CN':'限速(m/s)','EN':'Speed Limit(m/s)','TW':'限速(m/s)'}[language]"></span>
                                </td>
                                <td>
                                    <!-- <i-input v-model="itemInfo.speedLimit" /> -->
                                    <Input-number
                                        :disabled="!defensFunc"
                                        v-model="itemInfo.speedLimit"
                                        style="width: 100%">
                                    </Input-number>
                                </td>
                            </tr>
                            <tr>
                                <td class="label">
                                    <span class="request">＊</span>
                                    <span class="label" v-text="{'CN':'停留时长(s)','EN':'Stay(s)','TW':'停留時長(s)'}[language]"></span>
                                </td>
                                <td>
                                    <!-- <i-input v-model="itemInfo.staySecond" /> -->
                                    <Input-number
                                        :disabled="!defensFunc"
                                        v-model="itemInfo.staySecond"
                                        style="width: 100%">
                                    </Input-number>
                                </td>
                            </tr>
                            <tr>
                                <td class="label">
                                    <span class="request">＊</span>
                                    <span class="label" v-text="{'CN':'允许车辆驾入','EN':'Drive In','TW':'允許車輛駕入'}[language]"></span>
                                </td>
                                <td>
                                    <template>
                                        <i-select :disabled="!defensFunc || !!itemInfo.id" v-model="itemInfo.canEnter" clearable :placeholder="{'CN':'请选择','EN':'Please Choose','TW':'請選擇'}[language]">
                                            <template v-for="item in secureAreaLimitTypeList">
                                                <template v-if="item.type==720||item.type==721||item.type==722">
                                                    <i-option :value="item.type">{{item.name}}</i-option>
                                                </template>
                                            </template>
                                        </i-select>
                                    </template>
                                </td>
                            </tr>
                            <tr>
                                <td class="label">
                                    <span class="request">＊</span>
                                    <span class="label" v-text="{'CN':'允许车辆驾出','EN':'Driving Out','TW':'允許車輛駕出'}[language]"></span>
                                </td>
                                <td>
                                    <template>
                                        <i-select :disabled="!defensFunc || !!itemInfo.id" v-model="itemInfo.canExit" clearable :placeholder="{'CN':'请选择','EN':'Please Choose','TW':'請選擇'}[language]">
                                            <template v-for="item in secureAreaLimitTypeList">
                                                <template v-if="item.type==720||item.type==723||item.type==724">
                                                    <i-option :value="item.type">{{item.name}}</i-option>
                                                </template>
                                            </template>
                                        </i-select>
                                    </template>
                                </td>
                            </tr>
                            <tr>
                                <td class="label">
                                    <span class="request">＊</span>
                                    <span class="label" v-text="{'CN':'允许车辆停留','EN':'Stop','TW':'防區狀態'}[language]"></span>
                                </td>
                                <td>
                                    <template>
                                        <i-select :disabled="!defensFunc || !!itemInfo.id" v-model="itemInfo.canStay" clearable :placeholder="{'CN':'请选择','EN':'Please Choose','TW':'請選擇'}[language]">
                                            <template v-for="item in secureAreaLimitTypeList">
                                                <template v-if="item.type==720||item.type==725||item.type==726">
                                                    <i-option :value="item.type">{{item.name}}</i-option>
                                                </template>
                                            </template>
                                        </i-select>
                                    </template>
                                </td>
                            </tr>
                            <tr>
                                <td class="label">
                                    <span class="request">＊</span>
                                    <span class="label" v-text="{'CN':'防区状态','EN':'select layer','TW':'防區狀態'}[language]"></span>
                                </td>
                                <td>
                                    <template>
                                        <i-select :disabled="!defensFunc" v-model="itemInfo.secureStatus" clearable :placeholder="{'CN':'请选择','EN':'Please Choose','TW':'請選擇'}[language]">
                                            <i-option v-for="item in secureAreaStatusList" :value="item.type">{{item.name}}</i-option>
                                        </i-select>
                                    </template>
                                </td>
                            </tr>
                            <tr>
                                <td class="label" style="vertical-align: top;">
                                    <span class="label" v-text="{'CN':'备注','EN':'Remark','TW':'備註'}[language]"></span>
                                </td>
                                <td>
                                    <i-input :disabled="!defensFunc" type="textarea" :row="5" v-model="itemInfo.remark" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </Modal>
        </template>

        <template>
            <Modal v-model="isShowDetail" :styles="{top: '60px'}" width="25" title="查看详情">
                <div class="modifiedWrap">
                    <table>
                        <tbody>
                            <tr class="detailInfo">
                                <td class="detailLabel" style="width: 120px;"><span class="label" v-text="{'CN':'公司：','EN':'Company','TW':'公司：'}[language]"></span></td>
                                <td><span v-text="itemInfo.companyName"></span></td>
                            </tr>
                            <tr class="detailInfo">
                                <td class="detailLabel"><span class="label" v-text="{'CN':'名称：','EN':'Name：','TW':'名稱：'}[language]"></span></td>
                                <td><span v-text="itemInfo.areaName"></span></td>
                            </tr>
                            <tr class="detailInfo">
                                <td class="detailLabel"><span class="label" v-text="{'CN':'编码：','EN':'Code：','TW':'編碼：'}[language]"></span></td>
                                <td><span v-text="itemInfo.areaCode"></span></td>
                            </tr>
                            <tr class="detailInfo">
                                <td class="detailLabel"><span class="label" v-text="{'CN':'限速(m/s)：','EN':'Speed Limit(m/s)：','TW':'限速(m/s)：'}[language]"></span></td>
                                <td><span v-text="itemInfo.speedLimit"></span></td>
                            </tr>
                            <tr class="detailInfo">
                                <td class="detailLabel"><span class="label" v-text="{'CN':'停留时长(s)：','EN':'Stay(s)：','TW':'停留時長(s)：'}[language]"></span></td>
                                <td><span v-text="itemInfo.staySecond"></span></td>
                            </tr>
                            <tr class="detailInfo">
                                <td class="detailLabel"><span class="label" v-text="{'CN':'允许车辆驾入：','EN':'Drive In：','TW':'允許車輛駕入：'}[language]"></span></td>
                                <td><span v-text="itemInfo.canEnterName"></span></td>
                            </tr>
                            <tr class="detailInfo">
                                <td class="detailLabel"><span class="label" v-text="{'CN':'允许车辆驾出：','EN':'Driving Out：','TW':'允許車輛駕出：'}[language]"></span></td>
                                <td><span v-text="itemInfo.canExitName"></span></td>
                            </tr>
                            <tr class="detailInfo">
                                <td class="detailLabel"><span class="label" v-text="{'CN':'允许车辆停留：','EN':'Stop：','TW':'允許車輛停留：'}[language]"></span></td>
                                <td><span v-text="itemInfo.canStayName"></span></td>
                            </tr>
                            <tr class="detailInfo">
                                <td class="detailLabel"><span class="label" v-text="{'CN':'防区状态：','EN':'Status：','TW':'防區狀態：'}[language]"></span></td>
                                <td><span v-text="itemInfo.secureStatusName"></span></td>
                            </tr>
                            <tr class="detailInfo">
                                <td class="detailLabel"><span class="detailLabel" v-text="{'CN':'备注：','EN':'Remarks：','TW':'備註：'}[language]"></span></td>
                                <td><span v-text="itemInfo.remark"></span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </Modal>
        </template>


    </div>
    <!-- <script src="/airport/assets/js/vue.min.js"></script>
    <script src="/airport/assets/vender/iView/iview.min.js"></script>
    <script src="/airport/assets/js/jquery-3.2.2.min.js"></script>
    <script src="/airport/assets/js/md5.min.js"></script>
    <script src="/airport/assets/js/config.min.js?v=5756574646372"></script>
    <script src="/airport/assets/js/utility.min.js?v=5756574646372"></script>
    <script src="/airport/www/module/sectorsManage/sectorsManage.min.js?v=5756574646372"></script> -->
    <script src="/airport/assets/js/LAB.min.js"></script>
    <script>
        loadScript(MODUL+"module/sectorsManage/sectorsManage.min.js");
    </script>
</body>

</html>