<!DOCTYPE html>
<html lang="zh">

<head>
    <title></title>

    <!-- 页面字符编码 -->
    <meta charset="utf-8">

    <!-- 避免IE使用兼容模式 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!-- 启用360浏览器的极速模式(webkit) -->
    <meta name="renderer" content="webkit">
    <!-- 微软的老式浏览器 -->
    <meta name="MobileOptimized" content="320">

    <!-- 关键字描述 -->
    <meta name="keywords" content="">
    <meta name="description" content="">

    <!-- 设置移动端视图 -->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <!-- 针对手持设备优化，主要是针对一些老的不识别viewport的浏览器，比如黑莓 -->
    <meta name="HandheldFriendly" content="true">

    <!-- 删除苹果默认的工具栏和菜单栏 -->
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <!-- 设置苹果工具栏颜色 -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />

    <!-- 忽略页面中的数字识别为电话，忽略email识别 -->
    <meta name="format-detection" content="telphone=no, email=no" />

    <!-- uc强制竖屏 -->
    <meta name="screen-orientation" content="portrait">
    <!-- QQ强制竖屏 -->
    <meta name="x5-orientation" content="portrait">
    <!-- UC强制全屏 -->
    <meta name="full-screen" content="yes">
    <!-- QQ强制全屏 -->
    <meta name="x5-fullscreen" content="true">
    <!-- UC应用模式 -->
    <meta name="browsermode" content="application">
    <!-- QQ应用模式 -->
    <meta name="x5-page-mode" content="app">
    <link rel="stylesheet" href="https://cdn.bootcss.com/iview/3.4.1/styles/iview.css">
    <link rel="stylesheet" type="text/css" href="./css/common.min.css?v=42341234129" />
</head>

<body>
    <div id="js-vue" class="index">
        <div class="header">
            <div class="logo">
                <span><Icon type="ios-cube" size="32" color="#005ddc" /></span>
                <span>代码下载</span>
            </div>
            <div class="userInfo">
                <Row>
                    <i-col span="12">
                        <p>
                            <span><Icon type="md-contact" size="24" /></span>&nbsp;
                            <span>用户名</span>
                        </p>
                    </i-col>
                    <i-col span="12">
                        <p @click="logout">
                            <span><Icon type="md-exit" color="#000" size="24" /></span>&nbsp;
                            <span>退出</span>
                        </p>
                    </i-col>
                </Row>
            </div>
        </div>
        <div class="content">
            <template>
                <Row>
                    <i-col span="6">
                        <div class="searchWrap" :style="{height: (windowHeight - 80)+'px'}">
                            <template>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td style="width: 40px;">Input:</td>
                                            <td><i-input v-model="pageInfo.input" placeholder="Enter something..."></i-input></td>
                                        </tr>
                                        <tr>
                                            <td>语言:</td>
                                            <td>
                                                <i-select v-model="pageInfo.select">
                                                    <i-option value="php">PHP</i-option>
                                                    <i-option value="java">JAVA</i-option>
                                                    <i-option value=".net">.Net</i-option>
                                                </i-select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>
                                                <i-button type="primary" long>查询</i-button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </template>
                        </div>
                    </i-col>
                    <i-col span="18">
                        <div class="mainWrap" :style="{height: (windowHeight - 80)+'px'}">
                            <div class="actionWrap">
                                <i-button type="primary">下载</i-button>
                            </div>
                            <div class="tableWrap">
                                <i-table :columns="columns1" :data="data1"></i-table>
                            </div>
                            <div class="pageAction">
                                <Page :total="pageInfo.count" @on-change="pageSizeChange" @on-page-size-change="pageRowChange" :page-size="20" show-sizer show-total/>
                            </div>
                        </div>
                    </i-col>
                </Row>
            </template>
        </div>
        <div class="footer">
            <p>@coptyright 8838383883</p>
        </div>
    </div>
    <script src="./js/LAB.min.js"></script>
    <script>
        loadScript("./action/index/index.min.js");
    </script>
</body>

</html>