<!DOCTYPE html>
<html lang="zh">

<head>
    <title></title>

    <!-- 页面字符编码 -->
    <meta charset="utf-8">

    <!-- 避免IE使用兼容模式 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!-- 启用360浏览器的极速模式(webkit) -->
    <meta name="renderer" content="webkit">
    <!-- 微软的老式浏览器 -->
    <meta name="MobileOptimized" content="320">

    <!-- 关键字描述 -->
    <meta name="keywords" content="">
    <meta name="description" content="">

    <!-- 设置移动端视图 -->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <!-- 针对手持设备优化，主要是针对一些老的不识别viewport的浏览器，比如黑莓 -->
    <meta name="HandheldFriendly" content="true">

    <!-- 删除苹果默认的工具栏和菜单栏 -->
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <!-- 设置苹果工具栏颜色 -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />

    <!-- 忽略页面中的数字识别为电话，忽略email识别 -->
    <meta name="format-detection" content="telphone=no, email=no" />

    <!-- uc强制竖屏 -->
    <meta name="screen-orientation" content="portrait">
    <!-- QQ强制竖屏 -->
    <meta name="x5-orientation" content="portrait">
    <!-- UC强制全屏 -->
    <meta name="full-screen" content="yes">
    <!-- QQ强制全屏 -->
    <meta name="x5-fullscreen" content="true">
    <!-- UC应用模式 -->
    <meta name="browsermode" content="application">
    <!-- QQ应用模式 -->
    <meta name="x5-page-mode" content="app">
    <link rel="stylesheet" href="/airport/assets/vender/iView/styles/iView.min.css">
    <link rel="stylesheet" type="text/css" href="/airport/www/css/common.min.css" />
</head>

<body class="innerPage">
    <div id="js-vue" class="tableContainer">

        <div class="echartWrap" style="border: none; position: relative; z-index: 0;">
            <Row>
                <i-col span="6">
                    <div :style="{height: tableHeight/2+'px'}" id="illegaInfo"></div>
                </i-col>
                <i-col span="18">
                    <div :style="{height: tableHeight/2+'px'}" id="milleInfo"></div>
                </i-col>
            </Row>
            <div style="position: absolute; z-index: 100; top: 6px; left: 22%;font-size: 16px; font-weight: bolder;color: #000;">
                <span v-text="'总流量：'+ countCar + '辆车 X 12G = ' +Math.round(totalNumber/1024)+'G'"></span>
                <span style="padding-left: 20px;">月份:</span>
                <i-select size="large" @on-change="changeMonth" placeholder="月份" v-model="currentMonth" clearable style="width:90px;">
                    <i-option v-for="i in 12" :value="i" :label="i+'月'"></i-option>
                </i-select>
            </div>
        </div>

        <div class="top" style="background-color: #f2f2f2;">
            <Row type="flex" justify="start" gutter="10">
                <i-col span="22">
                    <div class="searchWrap">
                        <table>
                            <tbody>
                                <tr>
                                    <td>
                                        <template>
                                            归属公司
                                            <i-select @on-change="getSuperiorDeprtList('pageInfo')"
                                                v-model="pageInfo.companyId" clearable
                                                :placeholder="{'CN':'请选择','EN':'Please Choose','TW':'請選擇'}[language]"
                                                style="width:160px;">
                                                <i-option value="0">{{{'CN':'全部','EN':'All','TW':'全部'}[language]}}
                                                </i-option>
                                                <i-option v-for="item in companyList" :value="item.id">
                                                    {{item.companyName}}</i-option>
                                            </i-select>
                                        </template>
                                    </td>
                                    <td>
                                        <template>&nbsp;&nbsp;{{{'CN':'部门','EN':'Superior Department','TW':'部門'}[language]}}:</template>
                                    </td>
                                    <td>
                                        <template>
                                            <Cascader :data="superiorDepartmentList" v-model="pageInfo.deptIds"
                                                trigger="click" :change-on-select="true" style="width:120px;">
                                            </Cascader>
                                        </template>
                                    </td>
                                    <td>
                                        <template>
                                            &nbsp;&nbsp;车牌号
                                            <i-input v-model="pageInfo.licenseNumber"
                                                :placeholder="{'CN':'请输入','EN':'Input','TW':'請輸入'}[language]"
                                                style="width: 120px"></i-input>
                                        </template>
                                    </td>
                                    <template>
                                        &nbsp;&nbsp;车辆类型:
                                        <i-select v-model="pageInfo.vehicleTypeId" clearable
                                            :placeholder="{'CN':'请选择','EN':'Please Choose','TW':'請選擇'}[language]"
                                            style="width:100px;">
                                            <i-option value="0">{{{'CN':'全部','EN':'All','TW':'全部'}[language]}}
                                            </i-option>
                                            <i-option v-for="item in vehicleTypeList" :value="item.type">
                                                {{item.name}}</i-option>
                                        </i-select>
                                    </template>
                                    <td>
                                        <template>
                                            &nbsp;&nbsp;{{{'CN':'时间','EN':'Time','TW':'時間'}[language]}}:
                                            <date-picker @on-change="beginRepairTime" type="date" confirm
                                                :placeholder="{'CN':'请选择','EN':'Choose','TW':'請選擇'}[language]"
                                                style="width:90px;"></date-picker>
                                            -
                                            <date-picker @on-change="endRepairTime" type="date" confirm
                                                :placeholder="{'CN':'请选择','EN':'Choose','TW':'請選擇'}[language]"
                                                style="width:90px;"></date-picker>
                                        </template>
                                    </td>
                                    <td>
                                        <template>
                                            &nbsp;
                                            <i-button @click="getAlarmList(true)" size="small" type="primary"
                                                icon="ios-search-outline">
                                                {{{'CN':'查询','EN':'Search','TW':'查詢'}[language]}}</i-button>
                                        </template>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </i-col>
                <i-col span="2">
                    <div class="actionWrap">
                        <template>
                            <i-buttonGroup>
                                <i-button @click="refresh" size="small" icon="ios-refresh">
                                    {{{'CN':'刷新','EN':'Refresh','TW':'刷新'}[language]}}</i-button>
                                <!-- <i-button @click="addItem" size="small" type="success" icon="ios-add-circle-outline">
                                    {{{'CN':'新增','EN':'Add','TW':'新增'}[language]}}</i-button> -->
                                <!-- <i-button @click="editItem" size="small" type="warning" icon="ios-paper-outline">{{{'CN':'编辑','EN':'Edit','TW':'編輯'}[language]}}</i-button>
                                <i-button @click="delItem" size="small" type="error" icon="ios-trash-outline">{{{'CN':'删除','EN':'Delete','TW':'刪除'}[language]}}</i-button> -->
                            </i-buttonGroup>
                        </template>
                    </div>
                </i-col>
            </Row>
        </div>

        <div class="tableWrap">
            <template>
                <i-table :height="(tableHeight/2-30)" :loading="isTableLoading" highlight-row :columns="columnsList"
                    :data="alarmList" stripe="true" size="small" @on-row-click="setCurrentRowData"></i-table>
            </template>
        </div>

        <div class="pageWrap">
            <Row type="flex" justify="start" gutter="0">
                <i-col span="12">
                    <template>
                        <Page :total="page.count" @on-change="pageSizeChange" @on-page-size-change="pageRowChange"
                            :page-size="20" show-sizer show-total />
                    </template>
                </i-col>
                <i-col span="12">
                    <template>
                        <div style="font-size: 14px; color: #333; padding-top: 5px; text-align: right;">
                            <span>总使用流量：<strong>{{sumNumber}}</strong> M</span>
                        </div>
                    </template>
                </i-col>
            </Row>
        </div>

        <template>
            <Modal v-model="isShowDetail" :footer-hide="true" :styles="{top: '60px'}" width="30" title="查看详情">
                <div class="modifiedWrap">
                    <table>
                        <tbody>
                            <tr class="detailInfo">
                                <td class="detailLabel"><span
                                        v-text="{'CN':'公司名称：','EN':'Company Name：','TW':'公司名稱：'}[language]"></span></td>
                                <td><span v-text="itemInfo.companyName"></span></td>
                            </tr>

                            <tr class="detailInfo">
                                <td class="detailLabel"><span class="detailLabel"
                                        v-text="{'CN':'部门名称：','EN':'Department Name：','TW':'部門名稱：'}[language]"></span>
                                </td>
                                <td><span v-text="itemInfo.deptName"></span></td>
                            </tr>
                            <tr class="detailInfo">
                                <td class="detailLabel"><span>车辆名称：</span></td>
                                <td><span v-text="itemInfo.vehicleName"></span></td>
                            </tr>
                            <tr class="detailInfo">
                                <td class="detailLabel"><span>车牌号：</span></td>
                                <td><span v-text="itemInfo.licenseNumber"></span></td>
                            </tr>
                            <tr class="detailInfo">
                                <td class="detailLabel"><span>车辆类型：</span></td>
                                <td><span v-text="itemInfo.vehicleTypeName"></span></td>
                            </tr>
                            <tr class="detailInfo">
                                <td class="detailLabel"><span>总使用流量：</span></td>
                                <td><span v-text="itemInfo.dayCardFlow+'M'"></span></td>
                            </tr>
                            <tr class="detailInfo">
                                <td class="detailLabel"><span>开始统计时间：</span></td>
                                <td><span v-text="itemInfo.beginTime"></span></td>
                            </tr>
                            <tr class="detailInfo">
                                <td class="detailLabel"><span>结束统计时间：</span></td>
                                <td><span v-text="itemInfo.endTime"></span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </Modal>
        </template>
    </div>
    <script src="/airport/assets/js/LAB.min.js?v=asdf1341234"></script>
    <script src="/airport/assets/js/echarts.min.js?v=173412347"></script>
    <script>
        loadScript(MODUL + "module/trafficManage/trafficManage.min.js");
    </script>
</body>

</html>