<!DOCTYPE html>
<html lang="zh">

<head>
    <title></title>

    <!-- 页面字符编码 -->
    <meta charset="utf-8">

    <!-- 避免IE使用兼容模式 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!-- 启用360浏览器的极速模式(webkit) -->
    <meta name="renderer" content="webkit">
    <!-- 微软的老式浏览器 -->
    <meta name="MobileOptimized" content="320">

    <!-- 关键字描述 -->
    <meta name="keywords" content="">
    <meta name="description" content="">

    <!-- 设置移动端视图 -->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <!-- 针对手持设备优化，主要是针对一些老的不识别viewport的浏览器，比如黑莓 -->
    <meta name="HandheldFriendly" content="true">

    <!-- 删除苹果默认的工具栏和菜单栏 -->
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <!-- 设置苹果工具栏颜色 -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />

    <!-- 忽略页面中的数字识别为电话，忽略email识别 -->
    <meta name="format-detection" content="telphone=no, email=no" />

    <!-- uc强制竖屏 -->
    <meta name="screen-orientation" content="portrait">
    <!-- QQ强制竖屏 -->
    <meta name="x5-orientation" content="portrait">
    <!-- UC强制全屏 -->
    <meta name="full-screen" content="yes">
    <!-- QQ强制全屏 -->
    <meta name="x5-fullscreen" content="true">
    <!-- UC应用模式 -->
    <meta name="browsermode" content="application">
    <!-- QQ应用模式 -->
    <meta name="x5-page-mode" content="app">
    <link rel="stylesheet" href="/airport/assets/vender/iView/styles/iView.min.css">
    <link rel="stylesheet" type="text/css" href="/airport/www/css/common.min.css" />
</head>

<body class="innerPage">
    <div id="js-vue" class="tableContainer">

        <template>
            <Row type="flex" justify="start">
                <i-col span="4" class-name="menuWrap">
                    <template>
                        <i-menu theme="light" active-name="1" mode="vertical" width="auto" @on-select="getLogByCode">
                            <menu-item name="1">
                                <span class="icon"><Icon type="md-person" /></span>
                                <span class="label">修改信息</span>
                            </menu-item>
                            <menu-item name="2">
                                <span class="icon"><Icon type="ios-key" /></span>
                                <span class="label">修改密码</span>
                            </menu-item>
                        </i-menu>
                    </template>
                </i-col>
                <i-col span="20" class-name="logWrap">
                    <div :style="{height: (tableHeight+100)+'px'}">
                        <template v-if="type==1">
                            <div class="modifiedWrap modifyPassPop">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td class="label">
                                                <span>工号：</span>
                                            </td>
                                            <td>
                                                <i-input v-model="userInfo.userSeq" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="label">
                                                <span>性别：</span>
                                            </td>
                                            <td>
                                                <template>
                                                    <i-select v-model="userInfo.sex" clearable :placeholder="{'CN':'请选择','EN':'Please Choose','TW':'請選擇'}[language]">
                                                        <i-option v-for="item in sexTypeList" :value="item.type">{{item.name}}</i-option>
                                                    </i-select>
                                                </template>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="label">
                                                <span>身份证号：</span>
                                            </td>
                                            <td>
                                                <i-input v-model="userInfo.idNo" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="label">
                                                <span>手机号：</span>
                                            </td>
                                            <td>
                                                <i-input v-model="userInfo.mobile" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="label">
                                                <span>生日：</span>
                                            </td>
                                            <td>
                                                <date-picker v-model="userInfo.birthday" format="yyyy-MM-dd" type="date" :placeholder="{'CN':'请选择','EN':'Please Choose','TW':'請選擇'}[language]"></date-picker>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="label">
                                                <span>邮箱：</span>
                                            </td>
                                            <td>
                                                <i-input v-model="userInfo.email" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="label">
                                                <span>家庭地址：</span>
                                            </td>
                                            <td>
                                                <i-input v-model="userInfo.address" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="label"></td>
                                            <td>
                                                <i-button @click="modifyUserInfoAction" :loading="loading" type="primary" long>保存修改</i-button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </template>

                        <template v-if="type==2">
                            <div class="modifiedWrap modifyPassPop" style="padding-top: 50px;">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td class="label" style="width: 80px;">
                                                <span class="request">＊</span>
                                                <span v-text="{'CN':'旧密码：','EN':'Old Password：','TW':'舊密碼：'}[language]"></span>
                                            </td>
                                            <td>
                                                <i-input v-model="oldPass" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="label">
                                                <span class="request">＊</span>
                                                <span v-text="{'CN':'新密码：','EN':'New Password：','TW':'新密碼：'}[language]"></span>
                                            </td>
                                            <td>
                                                <i-input v-model="newPass" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="label"></td>
                                            <td>
                                                <i-button @click="modifyPassAction" :loading="loading" type="primary" long>保存修改</i-button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </template>
                    </div>
                </i-col>
            </Row>
        </template>

    </div>
    <script src="/airport/assets/js/vue.min.js"></script>
    <script src="/airport/assets/vender/iView/iview.min.js"></script>
    <script src="/airport/assets/js/jquery-3.2.2.min.js"></script>
    <script src="/airport/assets/js/md5.min.js"></script>
    <script src="/airport/assets/js/config.min.js?v=1723401723947"></script>
    <script src="/airport/assets/js/utility.min.js?v=1723401723947"></script>
    <script src="/airport/www/module/terminalParame/terminalParame.min.js?v=1723401723947"></script>
</body>

</html>