*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #F5F5F5;
}
/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(208, 219, 245, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}
/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(208, 219, 245, 0.3);
  background-color: #555;
}
html {
  font-family: "Helvetica Neue", Helvetica, "微软雅黑", STHeiTi, sans-serif;
  color: #777E8E;
  font-size: 20px;
  overflow-x: hidden;
}
.innerPage {
  background-color: #eeeeee;
}
.clear {
  clear: both;
}
li {
  list-style: none;
}
table {
  border-collapse: collapse;
}
.request {
  color: red;
}
._401 span,
._402 span,
._403 span,
._404 span,
._405 span,
._406 span,
._407 span,
._408 span {
  display: inline-block;
  padding: 2px 5px;
  color: #FFF;
}
._401 button span,
._402 button span,
._403 button span,
._404 button span,
._405 button span,
._406 button span,
._407 button span,
._408 button span {
  background-color: transparent;
}
._401 span {
  color: #333;
  background-color: #fbd048;
}
._402 span {
  background-color: #339a7b;
}
._403 span {
  background-color: #8958be;
}
._404 span {
  background-color: #ed9b3e;
}
._405 span {
  background-color: #e24251;
}
._406 span {
  background-color: #f86568;
}
._407 span {
  background-color: #5d81ca;
}
._408 span {
  background-color: #767676;
}
.loginPage .login {
  position: absolute;
  z-index: 0;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: url("/airport/www/img/login.jpg") no-repeat left center;
  background-size: 100%;
}
.loginPage .login .wrap {
  position: absolute;
  z-index: 0;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: url("/airport/www/img/bg.png") no-repeat left center;
  background-size: 100%;
}
.loginPage .login .header {
  text-align: center;
  padding-top: 10%;
}
.loginPage .login .header img {
  width: 62px;
  height: 62px;
}
.loginPage .login .header .label {
  font-size: 36px;
  color: #005ddc;
  font-weight: bold;
  position: relative;
  z-index: 0;
  top: -15px;
  left: 10px;
}
.loginPage .login .inputInfo {
  position: absolute;
  z-index: 10000000;
  top: 30%;
  width: 450px;
  left: 50%;
  margin-left: -225px;
  padding: 30px 50px;
  border-radius: 5px;
  border: 1px solid rgba(185, 185, 185, 0.5);
  background-color: rgba(255, 255, 255, 0.7);
}
.loginPage .login .inputInfo label {
  display: block;
  padding: 10px 0;
}
.loginPage .login .inputInfo label.ivu-checkbox-wrapper {
  padding-top: 0;
}
.loginPage .login .inputInfo label .ivu-input-prefix {
  width: 40px;
}
.loginPage .login .inputInfo label .ivu-input-with-prefix {
  padding-left: 40px;
}
.loginPage .login .inputInfo label .ivu-input-prefix i {
  font-size: 28px;
}
.loginPage .login .inputInfo label select {
  display: block;
  width: 100%;
  height: 36px;
}
.loginPage .login .inputInfo label .ivu-poptip {
  display: block;
  width: 100%;
}
.loginPage .login .inputInfo label .ivu-poptip .ivu-poptip-rel {
  display: block;
}
.graphPage .welcomPage {
  position: absolute;
  z-index: 10000;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #464545;
  padding-top: 40px;
  overflow-x: hidden;
  overflow-y: auto;
}
.graphPage .welcomPage .layout {
  padding: 0 10px 0 10px;
}
.graphPage .welcomPage .layout .ivu-card {
  border-radius: 2px;
  transition: none;
  background-color: #0f375f;
}
.graphPage .welcomPage .layout .ivu-card:hover {
  box-shadow: none;
}
.graphPage .welcomPage .layout .ivu-card.ivu-card-bordered {
  border-color: rgba(109, 106, 106, 0.7);
}
.graphPage .welcomPage .layout .ivu-card .ivu-card-head {
  padding: 10px 16px;
  border-bottom: 1px solid rgba(109, 106, 106, 0.5);
}
.graphPage .welcomPage .layout .ivu-card .ivu-card-head i {
  font-style: normal;
  font-size: 14px;
}
.graphPage .welcomPage .layout .ivu-spin-fix {
  background-color: transparent;
}
.graphPage .welcomPage .layout .tile {
  font-size: 18px;
  color: #777E8E;
}
.graphPage .welcomPage .layout .infoList {
  padding-bottom: 10px;
}
.graphPage .welcomPage .layout .infoList .infoItem .info {
  height: 90px;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
}
.graphPage .welcomPage .layout .infoList .infoItem .info p {
  margin: 0;
  padding: 0;
}
.graphPage .welcomPage .layout .infoList .infoItem .info .label {
  color: #fff;
  padding: 8px 0;
  font-size: 13px;
}
.graphPage .welcomPage .layout .infoList .infoItem .info .detail {
  position: relative;
  z-index: 0;
  top: -10px;
  font-size: 42px;
  color: #fff;
}
.graphPage .welcomPage .layout .infoList .infoItem .info.totalNum {
  position: relative;
  z-index: 0;
}
.graphPage .welcomPage .layout .infoList .infoItem .info.totalNum .label {
  padding-top: 20px;
  font-size: 24px;
  color: #FFF;
}
.graphPage .welcomPage .layout .infoList .infoItem .info.totalNum .detail {
  position: relative;
  z-index: 0;
  top: -20px;
  font-size: 86px;
  color: #FFF;
}
.graphPage .welcomPage .layout .infoList .infoItem .info.totalNum .totalRow {
  position: relative;
  z-index: 10;
}
.graphPage .welcomPage .layout .infoList .infoItem .info.totalNum .totalIcon {
  position: absolute;
  z-index: 0;
  left: 10px;
  top: 0;
}
.graphPage .welcomPage .welcomTable .ivu-table,
.graphPage .welcomPage .welcomTable .ivu-table td,
.graphPage .welcomPage .welcomTable .ivu-table-stripe .ivu-table-body tr.ivu-table-row-hover td,
.graphPage .welcomPage .welcomTable .ivu-table-stripe .ivu-table-fixed-body tr.ivu-table-row-hover td,
.graphPage .welcomPage .welcomTable .ivu-table-stripe .ivu-table-body tr:nth-child(2n) td,
.graphPage .welcomPage .welcomTable .ivu-table-stripe .ivu-table-fixed-body tr:nth-child(2n) td,
.graphPage .welcomPage .welcomTable .ivu-table:before,
.graphPage .welcomPage .welcomTable .ivu-table:after,
.graphPage .welcomPage .welcomTable .ivu-spin-fix {
  background-color: transparent;
  color: #fff;
}
.graphPage .welcomPage .welcomTable .ivu-table-stripe .ivu-table-body tr:nth-child(2n+1) td {
  background-color: #18416B;
}
.graphPage .welcomPage .welcomTable .ivu-table-wrapper,
.graphPage .welcomPage .welcomTable .ivu-table td,
.graphPage .welcomPage .welcomTable .ivu-table th,
.graphPage .welcomPage .welcomTable .ivu-table-wrapper > .ivu-spin-fix {
  border: none;
}
.graphPage .welcomPage .welcomTable .ivu-table-fixed-body .ivu-table-row {
  background-color: #0F375F;
}
.graphPage .welcomPage .welcomTable .ivu-table-fixed-body .ivu-table-cell {
  padding-left: 10px;
  padding-right: 5px;
}
.graphPage .welcomPage .copyRight {
  text-align: center;
  color: #fff;
  font-size: 15px;
}
.index .header {
  position: fixed;
  z-index: 100000000000;
  left: 0;
  top: 0;
  bottom: 0;
  width: 110px;
  height: 100%;
  background-color: #182646;
}
.index .header .logo {
  padding: 10px 0 20px 0;
  text-align: center;
  background-color: #0f375f;
}
.index .header .logo img {
  width: 62px;
  height: 62px;
}
.index .header .logo p {
  color: #fff;
  text-align: center;
  font-size: 16px;
}
.index .header .navWrap ul li {
  position: relative;
  z-index: 0;
  height: 48px;
  line-height: 48px;
  color: #dedede;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-left: none;
  border-right: none;
  padding: 0 0 0 5px;
  font-size: 13px;
  cursor: pointer;
}
.index .header .navWrap ul li:last-child {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.index .header .navWrap ul li .navIcon {
  position: relative;
  z-index: 0;
}
.index .header .navWrap ul li .navIcon i {
  font-size: 18px;
}
.index .header .navWrap ul li .navIcon .icon {
  position: relative;
  z-index: 0;
  top: -2px;
}
.index .header .navWrap ul li .navIcon .arrow {
  float: right;
  margin-right: 5px;
}
.index .header .navWrap ul li .navIcon .arrow i {
  color: rgba(238, 238, 238, 0.4);
}
.index .header .navWrap ul li .subNav {
  display: none;
  position: absolute;
  z-index: 1000000;
  top: -1px;
  left: 100%;
  width: 130%;
  color: #FFF;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-left: none;
  background-color: #0f375f;
}
.index .header .navWrap ul li .subNav p {
  height: 47px;
  line-height: 47px;
  padding: 0 0 0 10px;
  margin: 0;
}
.index .header .navWrap ul li .subNav p:nth-child(2n) {
  background-color: rgba(208, 219, 245, 0.5);
}
.index .header .navWrap ul li .subNav p i {
  font-size: 16px;
  margin-right: 3px;
}
.index .header .navWrap ul li .subNav p:hover {
  background-color: rgba(208, 219, 245, 0.8);
}
.index .header .navWrap ul li:hover {
  height: 49px;
  line-height: 49px;
  border: 1px solid rgba(208, 219, 245, 0.7);
  border-left: none;
  border-right: none;
  background-color: #0f375f;
}
.index .header .navWrap ul li:hover .navIcon .arrow i {
  transform: rotate(180deg);
}
.index .header .navWrap ul li:hover .subNav {
  display: block;
}
.index .header .userInfo {
  position: fixed;
  z-index: 0;
  bottom: 0;
  font-size: 13px;
  width: 110px;
  height: 50px;
  line-height: 50px;
  color: #dedede;
  cursor: pointer;
}
.index .header .userInfo i {
  font-size: 28px;
  margin-right: 5px;
}
.index .header .userInfo .logout {
  text-align: center;
  cursor: pointer;
  height: 50px;
  padding: 0 10px;
  background-color: #333333;
}
.index .fixedNav {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 110px;
  right: 0;
  height: 30px;
  background-color: rgba(15, 55, 95, 0.4);
  box-shadow: 0 1px 5px rgba(62, 84, 130, 0.2);
}
.index .fixedNav .fixedNavWrap {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}
.index .fixedNav .fixedNavWrap .fixedNavBox {
  height: 30px;
  line-height: 30px;
}
.index .fixedNav i {
  position: relative;
  z-index: 0;
  top: -1px;
  font-size: 18px;
  margin-right: 3px;
}
.index .fixedNav .tabItem,
.index .fixedNav .modifyPass {
  position: relative;
  z-index: 0;
  float: left;
  height: 30px;
  line-height: 30px;
  padding: 0 30px 0 10px;
  color: #fff;
  cursor: pointer;
  border-left: 1px solid rgba(24, 38, 70, 0.3);
}
.index .fixedNav .tabItem:first-child,
.index .fixedNav .modifyPass:first-child {
  padding: 0 10px;
  border-left: none;
}
.index .fixedNav .tabItem:last-child,
.index .fixedNav .modifyPass:last-child {
  border-right: 1px solid rgba(24, 38, 70, 0.3);
}
.index .fixedNav .tabItem .item,
.index .fixedNav .modifyPass .item {
  position: relative;
  z-index: 0;
}
.index .fixedNav .tabItem .close,
.index .fixedNav .modifyPass .close {
  position: absolute;
  z-index: 10000;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;    
  line-height: 30px;
}
.index .fixedNav .tabItem .close i,
.index .fixedNav .modifyPass .close i {
  display: inline-block;
  width: 15px;
  height: 15px;
  line-height: 15px;
  margin-left: 5px;
  font-size: 12px;
  text-align: center;
  font-style: normal;
  border-radius: 50%;
  color: rgba(119, 126, 142, 0.2);
  background-color: rgba(24, 38, 70, 0.1);
}
.index .fixedNav .tabItem.active,
.index .fixedNav .modifyPass.active {
  color: #0f375f;
  background-color: white;
}
.index .fixedNav .tabItem.active .close i,
.index .fixedNav .modifyPass.active .close i {
  color: rgba(119, 126, 142, 0.5);
  background-color: rgba(24, 38, 70, 0.3);
}
.index .fixedNav .tabItem.active:hover .close i,
.index .fixedNav .modifyPass.active:hover .close i {
  color: rgba(119, 126, 142, 0.5);
  background-color: rgba(24, 38, 70, 0.3);
}
.index .fixedNav .tabItem:hover .close i,
.index .fixedNav .modifyPass:hover .close i {
  color: rgba(119, 126, 142, 0.5);
  background-color: #fff;
}
.index .fixedNav .tabItem.modifyPassWrap,
.index .fixedNav .modifyPass.modifyPassWrap {
  position: absolute;
  z-index: 1000;
  right: 0;
  top: 0;
}
.index .mainWrap {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 110px;
  right: 0;
  bottom: 0;
}
.index .mainWrap.mainWrapMg iframe {
  display: block;
}
.index .mainWrap iframe {
  position: absolute;
  z-index: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: none;
}
.index .mainWrap iframe.active {
  display: block;
}
.top {
  padding: 5px;
}
.top .actionWrap {
  position: relative;
  z-index: 0;
  top: 2px;
  text-align: right;
}
.top button i {
  font-size: 17px;
}
.top button span {
  margin-left: 0;
  margin-right: 4px;
}
.searchWrap .ivu-input-group .ivu-input {
  left: -2px;
}
.menuWrap {
  border-right: 1px solid #dcdee2;
}
.menuWrap .ivu-menu-vertical.ivu-menu-light:after {
  display: none;
}
.menuWrap .icon i {
  font-size: 24px;
}
.logWrap {
  padding-left: 20px;
}
.tableContainer {
  position: absolute;
  z-index: 100;
  top: 40px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  border-radius: 3px;
  background-color: white;
}
.treeModel .ivu-modal-body {
  padding: 0;
}
.treeModel .ivu-modal-body .treeWrap {
  padding: 5px;
  border-right: 1px solid #dcdee2;
}
.treeModel .ivu-modal-body .treeWrap .ivu-tree ul li {
  margin: 0;
}
.treeModel .ivu-modal-body .treeWrap .ivu-tree ul li ul li {
  margin: 8px 0;
}
.treeModel .ivu-modal-body .search {
  padding: 10px 10px 0 0;
}
.treeModel .ivu-modal-body .memberWrap {
  padding: 0 10px 10px 0;
  margin-top: 10px;
}
.treeModel .ivu-modal-body .memberWrap .memberList .memberItem {
  margin-bottom: 10px;
  cursor: pointer;
}
.treeModel .ivu-modal-body .memberWrap .memberList .memberItem .ivu-card {
  overflow: hidden;
}
.treeModel .ivu-modal-body .memberWrap .memberList .memberItem .left {
  background-color: rgba(24, 38, 70, 0.2);
}
.treeModel .ivu-modal-body .memberWrap .memberList .memberItem .left .head {
  font-size: 32px;
  text-align: center;
}
.treeModel .ivu-modal-body .memberWrap .memberList .memberItem .left .head i {
  position: relative;
  z-index: 0;
  top: 5px;
}
.treeModel .ivu-modal-body .memberWrap .memberList .memberItem .info {
  padding: 5px;
}
.treeModel .ivu-modal-body .memberWrap .memberList .memberItem .info p {
  font-size: 12px;
}
.echartWrap {
  border-top: 1px solid #ddd;
}
.tableWrap {
  padding-left: 2px;
  padding-right: 1px;
}
.tableWrap .ivu-table-wrapper {
  border: none;
}
.tableWrap .ivu-table {
  border: none;
}
.tableWrap .ivu-table::before {
  background-color: rgba(214, 212, 212, 0.5);
}
.tableWrap .ivu-table:after {
  display: none;
}
.tableWrap .ivu-table th {
  background-color: rgba(24, 38, 70, 0.6);
  color: white;
  font-size: 13px;
}
.tableWrap .ivu-table i {
  font-size: 18px;
}
.tableWrap .ivu-table-stripe .ivu-table-fixed-body tr.ivu-table-row-highlight:nth-child(2n) td {
  color: #fff;
  background-color: #2196F3;
}
.tableWrap .ivu-table-stripe .ivu-table-body tr.ivu-table-row-highlight:nth-child(2n) td {
  color: #fff;
  background-color: #2196F3;
}
.tableWrap tr.ivu-table-row-highlight.ivu-table-row-hover td {
  color: #fff;
  background-color: #2196F3;
}
.tableWrap .ivu-table-row-highlight td {
  color: #fff;
  background-color: #2196F3;
}
.hasActionList .ivu-modal-body {
  padding: 0;
}
.modifiedWrap .pageWrap {
  padding: 5px 15px;
}
.modifiedWrap .detailInfo {
  line-height: 1.5;
}
.modifiedWrap .detailInfo span {
  display: inline-block;
  font-size: 13px;
}
.modifiedWrap .detailInfo .detailLabel {
  width: 100px;
  text-align: right;
}
.modifiedWrap table {
  width: 100%;
}
.modifiedWrap table td {
  padding: 5px;
}
.modifiedWrap table td.label {
  min-width: 50px;
  text-align: right;
  padding: 5px 0;
}
.modifiedWrap table td .ivu-date-picker {
  display: block;
}
.modifiedWrap table td .addressWrap .select {
  float: left;
  width: 70%;
}
.modifiedWrap table td .addressWrap .input {
  float: left;
  width: 30%;
}
.modifiedWrap .top .actionWrap {
  top: 0;
}
.modifiedWrap .top table td {
  padding: 0 5px;
}
.pageWrap {
  padding: 5px;
}
.pageWrap .ivu-page-item-active {
  background-color: #2d8cf0;
}
.pageWrap .ivu-page-item-active a {
  color: white;
}
.mapContainer {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.mapContainer .mapWrap {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.mapContainer .mapWrap .mousePosition {
  position: absolute;
  bottom: 8px;
  left: 130px;
  z-index: 200000;
  padding: 3px 8px;
  background-color: rgba(0, 60, 136, 0.3);
  border-radius: 3px;
  overflow: hidden;
  color: #fff;
  font-size: 12px;
  font-family: "微软雅黑";
  border: 1px solid #fff;
  border-top: none;
}
.mapContainer .mapWrap .mousePosition .mousePositionLabel {
  float: left;
}
.mapContainer .mapWrap .mousePosition .mousePositionInner {
  margin-left: 10px;
  float: left;
}
.mapContainer .mapWrap .overViewMap {
  bottom: auto;
  left: auto;
  right: 10px;
  bottom: 5px;
}
.mapContainer .mapWrap .overViewMap:not(.ol-collapsed) {
  border: 4px solid rgba(0, 0, 0, 0.2);
}
.mapContainer .mapWrap .overViewMap:not(.ol-collapsed) button {
  bottom: auto;
  left: auto;
  right: 1px;
  top: 1px;
}
.mapContainer .mapWrap .overViewMap .ol-overviewmap-map {
  border: none;
  width: 300px;
}
.mapContainer .mapWrap .overViewMap .ol-overviewmap-box {
  border: 2px solid red;
}
.mapContainer .mapWrap .overViewMap.ol-collapsed .ol-overviewmap-map {
  display: none;
}
.mapContainer .mapWrap .ol-full-screen {
  top: auto;
  bottom: 30px;
}
.mapContainer .mapWrap .ol-zoom {
  top: 2.5rem;
}
.mapContainer .mapWrap.cursorMouse {
  cursor: url("/airport/assets/img/camera.png");
}
.mapContainer .mapWrap .ol-zoomslider {
  top: 90px;
}
.mapContainer .searchWrap {
  position: absolute;
  z-index: 100000000000;
  top: 50px;
  left: 50px;
  width: 40%;
}
.mapContainer .searchWrap .ivu-btn {
  position: relative;
  z-index: 10;
  top: 3px;
  padding: 5px;
  font-size: 13px;
}
.mapContainer .searchWrap .ivu-input-group .ivu-input {
  left: 0;
  background-color: rgba(255, 255, 255, 0.8);
}
.mapContainer .menuWrap {
  position: absolute;
  z-index: 100000000;
  top: 50px;
  right: 0;
}
.mapContainer .menuWrap ul {
  height: 40px;
  line-height: 40px;
  border-radius: 25px 0 0 25px;
  border: 1px solid #dcdee2;
  border-right: none;
  border-bottom: none;
  overflow: hidden;
}
.mapContainer .menuWrap ul.ivu-menu-light {
  padding-right: 10px;
  background-color: rgba(255, 255, 255, 0.8);
}
.mapContainer .menuWrap ul .ivu-menu-item {
  padding: 0 5px;
}
.mapContainer .menuWrap i {
  font-size: 24px;
}
.mapContainer .ol-popup {
  display: none;
  position: absolute;
  z-index: 0;
  background-color: white;
  -webkit-filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  bottom: 12px;
  left: -50px;
  min-width: 230px;
}
.mapContainer .ol-popup.ol-vehicle {
  bottom: 50px;
  min-width: 280px;
}
.mapContainer .ol-popup.ol-vehicle .trajectoryAction {
  padding: 5px 0;
}
.mapContainer .ol-popup:after,
.mapContainer .ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.mapContainer .ol-popup:after {
  border-top-color: white;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}
.mapContainer .ol-popup:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}
.mapContainer .ol-popup .ol-popup-closer {
  text-decoration: none;
  position: absolute;
  top: 2px;
  right: 8px;
}
.mapContainer .ol-popup .ol-popup-closer:after {
  content: "X";
  cursor: pointer;
}
.mapContainer .moveVehicle,
.mapContainer .searchVehicle {
  position: absolute;
  display: none;
  z-index: 0;
  width: 40px;
  height: 60px;
  bottom: -8px;
  left: -10px;
  background-size: 100%;
}
.mapContainer .searchVehicle {
  display: block;
  z-index: 100000;
  width: 144px;
  height: 120px;
  bottom: 120px;
  left: -300px;
  opacity: 0;
}
.mapContainer .ivu-btn > .ivu-icon + span {
  margin-left: 0;
}
.mapModal .ivu-modal-body {
  padding: 0;
}
.mapModal .ivu-modal-content {
  background-color: rgba(255, 255, 255, 0.7);
}
.mapModal .ivu-modal-header {
  border-bottom-color: rgba(24, 38, 70, 0.5);
}
.mapModal .tip {
  color: red;
  text-align: center;
  font-size: 12px;
  padding-bottom: 5px;
}
.mapModal .modalTitle .icon i {
  font-size: 24px;
}
.mapModal .modalTitle .label {
  position: relative;
  z-index: 0;
  top: 3px;
  font-size: 16px;
}
.mapModal .modalTitle .areaTip {
  color: #fff;
  font-size: 12px;
  background-color: #607D8B;
  padding: 3px;
}
.mapModal .mapSearch {
  padding: 10px 10px 5px 10px;
}
.mapModal .mapSearch table {
  width: 100%;
}
.mapModal .mapSearch table td {
  line-height: 0;
  padding: 5px;
}
.mapModal .mapSearch .btnList {
  position: relative;
  z-index: 0;
}
.mapModal .mapSearch .btnList i {
  font-size: 16px;
}
.mapModal .mapSearch .btnList button span {
  margin-left: 0;
}
.mapModal .tableWrap {
  padding: 5px 10px 10px 10px;
}
.mapModal .tableWrap .ivu-table-wrapper {
  border: none;
}
.mapModal .tableWrap .ivu-table {
  background-color: transparent;
}
.mapModal .tableWrap .ivu-table thead tr {
  background-color: white;
}
.mapModal .sliderWrap {
  padding: 20px 20px 50px 20px;
}
.mapModal .pageWrap {
  padding: 0 10px 10px 10px;
}
.mapModal .layerWrap .ivu-menu-light {
  background-color: transparent;
}
.mapModal .layerWrap .layerMenu {
  border-right: 1px solid #dcdee2;
}
.mapModal .layerWrap .layerMenu ul {
  position: relative;
  z-index: 0;
  height: 100%;
}
.mapModal .layerWrap .layerMenu ul.ivu-menu-vertical.ivu-menu-light:after {
  display: none;
}
.mapModal .layerWrap .layerMenu ul.ivu-menu-vertical .ivu-menu-item {
  padding: 0;
}
.mapModal .layerWrap .layerMenu ul.ivu-menu-vertical .ivu-menu-item label {
  display: block;
  padding: 14px 24px;
}
.mapModal.detailInfoModal .ivu-poptip {
  text-align: left;
  width: 100%;
}
.mapModal.detailInfoModal .ivu-poptip .ivu-poptip-rel {
  width: 100%;
}
.modifyPassPop {
  width: 50%;
  background: #fff;
  padding: 20px 10px;
  border-radius: 15px;
}
.modifyPassPop table {
  width: 100%;
}
