@color1: #182646;
@bgColor: #eeeeee;
@borderColor: #dcdee2;
@fontColor: #dedede;
@logoutColor: #333333;
@pageActiveColor: #2d8cf0;
@mainFontColor: #777E8E;
@headerHeight: 50px;
@tabHeight: 30px;
*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    background-color: #F5F5F5;
}

/*定义滚动条轨道 内阴影+圆角*/

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(208, 219, 245, .3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

/*定义滑块 内阴影+圆角*/

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(208, 219, 245, .3);
    background-color: #555;
}

html {
    font-family: "Helvetica Neue", Helvetica, "微软雅黑", STHeiTi, sans-serif;
    color: @mainFontColor;
    font-size: 20px;
    overflow-x: hidden;
}

.innerPage {
    background-color: @bgColor;
}

.clear {
    clear: both;
}

li {
    list-style: none;
    ;
}

table {
    border-collapse: collapse;
}

.setBgColor(@percent: 20%) {
    background-color: fade(@color1, @percent);
}

.request {
    color: red;
}

// 登录页面样式
.loginPage {
    
    .login {
        position: absolute;
        z-index: 0;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: url(../img/login.jpg) no-repeat left center;
        background-size: 100%;
        .wrap {
            position: absolute;
            z-index: 0;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            background: url(../img/bg.png) no-repeat left center;
            background-size: 100%;
        }
        .header {
            text-align: center;
            padding-top: 10%;
            ;
        }
        .inputInfo {
            position: absolute;
            z-index: 10000000;
            top: 30%;
            width: 450px;
            left: 50%;
            margin-left: -225px;
            padding: 30px 50px;
            border-radius: 5px;
            border: 1px solid rgba(185, 185, 185, 0.5);
            background-color: rgba(255, 255, 255, .7);
            label {
                display: block;
                padding: 10px 0;
                &.ivu-checkbox-wrapper {
                    padding-top: 0;
                }
                .ivu-input-prefix {
                    width: 40px;
                }
                .ivu-input-with-prefix {
                    padding-left: 40px;
                }
                .ivu-input-prefix i {
                    font-size: 28px;
                }
                select {
                    display: block;
                    width: 100%;
                    height: 36px;
                }
                .ivu-poptip {
                    display: block;
                    width: 100%;
                    .ivu-poptip-rel {
                        display: block;
                    }
                }
            }
        }
    }
}

// @media (max-width: 1366px) {
//     .login {
//         .header {
//             padding-left: 0;
//             text-align: center;
//         }
//         .wrap {
//             .bgInfo {
//                 width: 100%;
//             }
//             .inputInfo {
//                 left: 50%;
//                 top: 150px;
//                 margin-left: -200px;
//             }
//         }
//     }
// }
// @media (min-width: 1367px) {
//     .loginPage {
//         .login {
//             .wrap {
//                 .bgInfo {
//                     width: 1024px;
//                 }
//                 .inputInfo {
//                     left: 1024px;
//                     right: 0;
//                     top: 0;
//                     bottom: 0;
//                     width: auto;
//                     padding: 100px 30px 0 30px;
//                     margin-left: 0;
//                     border-radius: 0;
//                     background-color: @color1;
//                     .ivu-checkbox-wrapper {
//                         color: #fff;
//                     }
//                 }
//             }
//         }
//         .ivu-message-notice {
//             text-align: right;
//             .ivu-message-notice-content {
//                 right: 110px;
//             }
//         }
//     }
// }
// @media (min-width: 1600px) {
//     .loginPage {
//         .login {
//             .header {
//                 padding-top: 30px;
//             }
//             .wrap {
//                 .bgInfo {
//                     width: 100%;
//                     height: 850px;
//                 }
//                 .inputInfo {
//                     left: 80%;
//                     right: 0;
//                     top: 0;
//                     bottom: 0;
//                     width: auto;
//                     padding: 250px 30px 0 30px;
//                     margin-left: 0;
//                     border-radius: 0;
//                     background-color: rgba(62, 84, 130, .5);
//                     .ivu-checkbox-wrapper {
//                         color: #fff;
//                     }
//                 }
//             }
//         }
//     }
// }
.graphPage {
    // background-color: @color1; // 首页样式
    // 欢迎页样式
    .welcomPage {
        position: absolute;
        z-index: 10000;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #464545;
        padding-top: 40px;
        overflow-x: hidden;
        overflow-y: auto;
        .layout {
            padding: 0 10px 10px 10px;
            .ivu-card {
                border-radius: 2px;
                transition: none;
                background-color: rgba(24, 38, 70, 0.8);
                &:hover {
                    box-shadow: none;
                }
                &.ivu-card-bordered {
                    border-color: rgba(109, 106, 106, 0.7);
                }
                .ivu-card-head {
                    border-bottom: 1px solid rgba(109, 106, 106, 0.5);
                }
            }
            .tile {
                font-size: 18px;
                color: @mainFontColor;
            }
            .infoList {
                padding-bottom: 10px;
                .infoItem {
                    .info {
                        height: 90px;
                    }
                }
            }
        }
    }
}

.index {
    // 头部样式
    .header {
        position: fixed;
        z-index: 100000000000;
        left: 0;
        top: 0;
        bottom: 0;
        width: 110px;
        height: 100%;
        background-color: @color1;
        .logo {
            padding: 10px 0 20px 0;
            text-align: center;
            background-color: rgb(35, 56, 103);
            img {
                width: 58px;
                height: 50px;
                ;
            }
            p {
                color: #fff;
                text-align: center;
                font-size: 16px;
            }
        }
        .navWrap {
            ul {
                li {
                    position: relative;
                    z-index: 0;
                    height: 48px;
                    line-height: 48px;
                    color: @fontColor;
                    border: 1px solid @color1;
                    border-left: none;
                    border-right: none;
                    padding: 0 0 0 5px;
                    font-size: 13px;
                    cursor: pointer;
                    .navIcon {
                        position: relative;
                        z-index: 0;
                        i {
                            font-size: 18px;
                        }
                        .icon {
                            position: relative;
                            z-index: 0;
                            top: -2px;
                        }
                        .arrow {
                            float: right;
                            margin-right: 5px;
                            i {
                                color: fade(@bgColor, 40%);
                            }
                        }
                    }
                    .subNav {
                        display: none;
                        position: absolute;
                        z-index: 1000000;
                        top: -1px;
                        left: 100%;
                        width: 130%;
                        color: #333;
                        border: 1px solid rgba(208, 219, 245, .7);
                        border-left: none;
                        background-color: rgba(208, 219, 245, .3);
                        p {
                            height: 47px;
                            line-height: 47px;
                            padding: 0 0 0 10px;
                            margin: 0;
                            &:nth-child(2n) {
                                background-color: rgba(208, 219, 245, .5);
                            }
                            i {
                                font-size: 16px;
                                margin-right: 3px;
                            }
                            &:hover {
                                background-color: rgba(208, 219, 245, .8);
                            }
                        }
                    }
                    &:hover {
                        height: 49px;
                        line-height: 49px;
                        border: 1px solid rgba(208, 219, 245, .7);
                        border-left: none;
                        border-right: none;
                        background-color: rgba(208, 219, 245, .3);
                        .navIcon {
                            .arrow {
                                i {
                                    transform: rotate(180deg);
                                }
                            }
                        }
                        .subNav {
                            display: block;
                        }
                    }
                }
            }
        }
        .userInfo {
            position: fixed;
            z-index: 0;
            bottom: 0;
            font-size: 13px;
            width: 110px;
            height: @headerHeight;
            line-height: @headerHeight;
            color: @fontColor;
            cursor: pointer;
            i {
                font-size: 28px;
                margin-right: 5px;
            }
            .logout {
                text-align: center;
                cursor: pointer;
                height: @headerHeight;
                padding: 0 10px;
                background-color: @logoutColor;
            }
        }
    } // 固定导航
    .fixedNav {
        position: fixed;
        z-index: 1000;
        top: 0;
        left: 110px;
        right: 0;
        height: 30px;
        background-color: rgba(208, 219, 245, .3);
        box-shadow: 0 1px 5px rgba(62, 84, 130, .2);
        .fixedNavWrap {
            width: 100%;
            overflow-x: auto;
            overflow-y: hidden;
            .fixedNavBox {
                height: 30px;
                line-height: 30px;
            }
        }
        i {
            position: relative;
            z-index: 0;
            top: -1px;
            font-size: 18px;
            margin-right: 3px;
        }
        .tabItem {
            position: relative;
            z-index: 0;
            float: left;
            height: 30px;
            line-height: 30px;
            padding: 0 30px 0 10px;
            cursor: pointer;
            border-left: 1px solid fade(@color1, 30%);
            &:first-child {
                padding: 0 10px;
                border-left: none;
            }
            &:last-child {
                border-right: 1px solid fade(@color1, 30%);
            }
            .item {
                position: relative;
                z-index: 0;
            }
            .close {
                position: absolute;
                z-index: 10000;
                top: 0;
                right: 0;
                width: 30px;
                height: 30px;
                line-height: 30px;
                i {
                    display: inline-block;
                    width: 15px;
                    height: 15px;
                    line-height: 15px;
                    margin-left: 5px;
                    font-size: 12px;
                    text-align: center;
                    font-style: normal;
                    border-radius: 50%;
                    color: fade(@mainFontColor, 20%);
                    background-color: fade(@color1, 10%);
                }
            }
            &.active {
                background-color: white;
                .close {
                    i {
                        color: fade(@mainFontColor, 50%);
                        background-color: fade(@color1, 30%);
                    }
                }
            }
        }
    }
    .mainWrap {
        position: fixed;
        z-index: 10;
        top: 0;
        left: 110px;
        right: 0;
        bottom: 0;
        iframe {
            position: absolute;
            z-index: 0;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
        }
    }
}

.top {
    padding: 5px;
    .actionWrap {
        position: relative;
        z-index: 0;
        top: 4px;
        text-align: right;
    }
    button {
        i {
            font-size: 17px;
        }
        span {
            margin-left: 0;
            margin-right: 4px;
        }
    }
}

.searchWrap {
    .ivu-input-group {
        .ivu-input {
            left: -2px;
        }
    }
}

.menuWrap {
    border-right: 1px solid @borderColor;
    .ivu-menu-vertical.ivu-menu-light:after {
        display: none;
    }
    .icon {
        i {
            font-size: 24px;
        }
    }
}

.logWrap {
    padding-left: 20px;
}

// 内容页样式
.tableContainer {
    position: absolute;
    z-index: 100;
    top: 40px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    border-radius: 3px; // box-shadow: 0 0 20px rgba(0, 0, 0, .4);
    background-color: white;
}

.treeModel {
    .ivu-modal-body {
        padding: 0;
        .treeWrap {
            padding: 5px;
            border-right: 1px solid @borderColor;
            .ivu-tree {
                ul {
                    li {
                        margin: 0;
                        ul {
                            li {
                                margin: 8px 0;
                            }
                        }
                    }
                }
            }
        }
        .search {
            padding: 10px 10px 0 0;
        }
        .memberWrap {
            padding: 0 10px 10px 0;
            margin-top: 10px;
            .memberList {
                .memberItem {
                    margin-bottom: 10px;
                    cursor: pointer;
                    .ivu-card {
                        overflow: hidden;
                    }
                    .left {
                        background-color: fade(@color1, 20%);
                        .head {
                            font-size: 32px;
                            text-align: center;
                            i {
                                position: relative;
                                z-index: 0;
                                top: 5px;
                            }
                        }
                    }
                    .info {
                        padding: 5px;
                        p {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}

.tableWrap {
    padding-left: 2px;
    padding-right: 1px;
    .ivu-table-wrapper {
        border: none;
    }
    .ivu-table {
        border: none;
        &::before {
            background-color: rgba(214, 212, 212, 0.5);
        }
        &:after {
            display: none;
        }
        th {
            .setBgColor(60%);
            color: white;
            font-size: 13px;
        }
        i {
            font-size: 18px;
        }
    }
    .ivu-table-stripe {
        .ivu-table-body {
            tr {
                &.ivu-table-row-highlight:nth-child(2n) {
                    td {
                        .setBgColor
                    }
                }
            }
        }
    }
    tr {
        &.ivu-table-row-highlight {
            &.ivu-table-row-hover {
                td {
                    .setBgColor
                }
            }
        }
    }
    .ivu-table-row-highlight {
        td {
            .setBgColor
        }
    }
}

.hasActionList {
    .ivu-modal-body {
        padding: 0;
    }
}

// 弹出窗体内容样式
.modifiedWrap {
    .pageWrap {
        padding: 5px 15px;
    }
    table {
        width: 100%;
        td {
            padding: 5px;
            &.label {
                min-width: 50px;
                text-align: right;
                padding: 5px 0;
            }
            .ivu-date-picker {
                display: block;
            }
            .addressWrap {
                .select {
                    float: left;
                    width: 70%;
                }
                .input {
                    float: left;
                    width: 30%;
                }
            }
        }
    }
    .top {
        .actionWrap {
            top: 0;
        }
        table {
            td {
                padding: 0 5px;
            }
        }
    }
}

.pageWrap {
    padding: 5px;
    .ivu-page-item-active {
        background-color: @pageActiveColor;
        a {
            color: white;
        }
    }
}

// 地图页面样式
.mapContainer {
    .mapWrap {
        position: fixed;
        z-index: 5;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        .mousePosition {
            position: absolute;
            bottom: 7px;
            left: 150px;
            z-index: 200000;
            padding: 3px 8px;
            background-color: rgba(0, 60, 136, .3);
            border-radius: 3px;
            overflow: hidden;
            color: #fff;
            font-size: 12px;
            font-family: "微软雅黑";
            border: 1px solid #fff;
            border-top: none;
            .mousePositionLabel {
                float: left;
            }
            .mousePositionInner {
                margin-left: 10px;
                float: left;
            }
        }
        .overViewMap {
            bottom: auto;
            left: auto;
            right: 100px;
            bottom: 10px;
            &:not(.ol-collapsed) {
                border: 1px solid black;
                button {
                    bottom: auto;
                    left: auto;
                    right: 1px;
                    top: 1px;
                }
            }
            .ol-overviewmap-map {
                border: none;
                width: 300px;
            }
            .ol-overviewmap-box {
                border: 2px solid red;
            }
        }
        .ol-full-screen {
            top: auto;
            bottom: 30px;
        }
        .ol-zoom {
            top: 2.5rem;
        }
        &.cursorMouse {
            cursor: url("/airport/assets/img/camera.png")
        }
    }
    .searchWrap {
        position: absolute;
        z-index: 100000000000;
        top: 50px;
        left: 50px;
        width: 20%;
        .ivu-input-group {
            .ivu-input {
                left: 0;
                background-color: rgba(255, 255, 255, .8);
            }
        }
    }
    .menuWrap {
        position: absolute;
        z-index: 100000000;
        top: 50px;
        right: -2px;
        ul {
            height: 40px;
            line-height: 40px;
            border-radius: 25px 0 0 25px;
            border: 1px solid @borderColor;
            border-right: none;
            border-bottom: none;
            overflow: hidden;
            &.ivu-menu-light {
                background-color: rgba(255, 255, 255, .8);
            }
        }
        i {
            font-size: 24px;
        }
    }
}

.mapModal {
    .ivu-modal-body {
        padding: 0;
    }
    .ivu-modal-content {
        background-color: rgba(255, 255, 255, .7);
    }
    .ivu-modal-header {
        border-bottom-color: fade(@color1, 50%);
    }
    .tip {
        color: red;
        text-align: center;
        font-size: 12px;
        padding-bottom: 5px;
    }
    .modalTitle {
        .icon {
            i {
                font-size: 24px;
            }
        }
        .label {
            position: relative;
            z-index: 0;
            top: 3px;
            font-size: 16px;
        }
    }
    .mapSearch {
        padding: 10px 10px 5px 10px;
        table {
            width: 100%;
            td {
                line-height: 0;
                padding: 5px;
            }
        }
        .btnList {
            position: relative;
            z-index: 0;
            i {
                font-size: 16px;
            }
            button {
                span {
                    margin-left: 0;
                }
            }
        }
    }
    .tableWrap {
        padding: 5px 10px 10px 10px;
        .ivu-table-wrapper {
            border: none;
        }
        .ivu-table {
            background-color: transparent;
            thead {
                tr {
                    background-color: white;
                }
            }
        }
    }
    .sliderWrap {
        padding: 20px 20px 50px 20px;
    }
    .pageWrap {
        padding: 0 10px 10px 10px;
    }
    .layerWrap {
        .ivu-menu-light {
            background-color: transparent;
        }
        .layerMenu {
            border-right: 1px solid @borderColor;
            ul {
                position: relative;
                z-index: 0;
                height: 100%;
                &.ivu-menu-vertical.ivu-menu-light:after {
                    display: none;
                }
                &.ivu-menu-vertical {
                    .ivu-menu-item {
                        padding: 0;
                        label {
                            display: block;
                            padding: 14px 24px;
                        }
                    }
                }
            }
        }
    }
    &.detailInfoModal {
        .ivu-poptip {
            text-align: left;
            width: 100%;
            .ivu-poptip-rel {
                width: 100%;
            }
        }
    }
}